﻿<div class="modal-content">
    <div class="modal-header clearfix modal-header-backgroundcolor" >
        <button type="button" class="close button-close" ng-click="vm.close()" data-dismiss="modal">&times;</button>
        <h3 class="modal-title modal-title-align-center">Payment Plan</h3>
    </div>
    <div class="modal-body modal-body-hegiht">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-3"></div>
                <div class="col-xs-9 padding-0px-left">
                    <div class="col-xs-2 padding-0px-left-right">
                        <img class="img-40px" src="../theme/img/success.png">
                    </div>
                    <div class="col-xs-8">
                        <label class="label-margin-left-2-2em">Thank you, payment processed.</label>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 row-col-xs-padding">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 panel panel-body panel-boby-payment-message">
                    <label  class="label-margin-bottom-0px label-margin-left-2-5em">Congrats!</label><br>
                    <label class="label-margin-bottom-0px">You have earned 100 points.</label>
                    <div ng-if="vm.TotalRewardPoints != null && vm.TotalRewardPoints != '' && vm.TotalRewardPoints != undefined"><i class="i-font-sizecolor">You have {{vm.TotalRewardPoints}} points</i></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>