﻿<div class="container">
    <div class="row">
        <div class="col-md-12 text-uppercase">
            <div class="col-md-4" style="padding-bottom:10px;">
                <!--<a href="#" ui-sref="dashboard()" class="btn btn-primary btn-default btn-group-sm pull-left">Back</a>-->
                <a href="" ng-show="vm.backbutton" ng-click="vm.navigateDashBoard()" class="btn btn-primary btn-default btn-group-sm" style="background-color:#3852a3 !important;border-color:#3852a3 !important;">Back</a>

            </div>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="col-md-3"></div>
        <div class="col-md-6 modal-content" ng-show="vm.paymentprocess">
            <div class="modal-body modal-body-hegiht" style="height:190px !important;text-align:center">
                <P>
                    <b>
                        Your payment plan is being processed. Please note that the payment history will only reflect 2 days after the action date.
                    </b>
                </P>
                <div class="loader">
                    <div style="position: relative; margin: auto; height: 32px; width: 32px; align-content: center;">
                        <img src="../theme/img/loading.gif" width="32" height="32" style="vertical-align:middle; text-align:center;" />
                    </div>
                </div><br />
                <label style="text-align:center">Payment in Progress ...</label>
            </div>
        </div>
        <div class="modal fade" id="paymentfailed" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" style="padding:7px;">
                    <div class="modal-header" style="padding:7px;">
                        <button type="button" ng-click="vm.navigateDashBoard()" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><b>Transaction Status</b></h4>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <p><b style="color:red;font-size:24px">Submission  error</b></p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.navigateDashBoard()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
