﻿
<div class="container">
    <div class="row">
        <div class="col-md-12 text-uppercase">
            <div class="col-md-4">
                <!--<a href="#" ui-sref="dashboard()" class="btn btn-primary btn-default btn-group-sm pull-left">Back</a>-->
                <a href="" ng-click="vm.navigateDashBoard()" class="btn btn-primary btn-default btn-group-sm" style="background-color:#3852a3 !important;border-color:#3852a3 !important;">Back</a>

            </div>
        </div>
    </div>


    <div class="panel-body col-md-12">

        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 custom-jumbotron">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Account
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <b>{{vm.Account}}</b>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            Matter Number
                        </div>
                        <div class="col-md-2 col-sm-12 font-famil-open-sans-numbers">
                            <b>{{vm.matterNumber}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            Outstanding Amount
                        </div>
                        <div class="col-md-4 col-sm-12 font-famil-open-sans-numbers">
                            <b>{{vm.OutstandingAmount}}</b>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div id="paymentId" class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12 button-align">
                    <div class="portlet-title tabbable">
                        <ul class="nav nav-tabs">
                            <li ng-class="vm.tabIndex==1 ? 'active' : ''" ng-init="vm.tabIndex=1">
                                <a href="" ng-click="vm.tab(1)"> <b>Debit Order</b> </a>
                            </li>
                            <li ng-class="vm.tabIndex==2 ? 'active' : ''">
                                <a href="" ng-click="vm.tab(2)"> <b>Zapper</b> </a>
                            </li>
                            <li ng-class="vm.tabIndex==3 ? 'active' : ''">
                                <a href="" ng-click="vm.tab(3)"> <b>EFT</b> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content active custom-payment">
                            <!--ng-submit="vm.save(vm.payment,paymentForm)"-->
                            <form name="paymentForm" novalidate>

                                <div class="tab-pane active" ng-if="vm.tabIndex==1">
                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-8 ">Please enter your bank account details to set up debit orders.</label>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">Account Holder</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" tabindex=1 name="accountHolder" alphabet ng-model="vm.payment.AccountHolder" placeholder="Account Holder" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">
                                            ID Type
                                        </label>
                                        <div class="col-sm-7">
                                            <select name="idType" ng-model="vm.payment.IdentificationType" class="form-control"
                                                    ng-options="item.Key as item.Value for item in vm.identificationList"
                                                    tabindex=2 required>
                                                <option value="">--Please Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">
                                            ID Number
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" tabindex=3 class="form-control font-famil-open-sans-numbers" maxlength="20" numeric name="idNumber" ng-model="vm.payment.IdentificationNumber" placeholder="ID Number" required>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">
                                            Account Type
                                        </label>
                                        <div class="col-sm-7">
                                            <select name="accountType" ng-model="vm.payment.AccountType" class="form-control"
                                                    ng-options="item.Key as item.Value for item in vm.accountTypeList"
                                                    tabindex=2 required>
                                                <option value="">--Please Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <div class="col-sm-5">
                                            <label>Account Number</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control font-famil-open-sans-numbers" tabindex=4 name="accountNumber" numeric minlength="3" maxlength="11" ng-model="vm.payment.AccountNumber" placeholder="Account Number" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">
                                            Branch
                                        </label>
                                        <div class="col-sm-7">
                                            <select name="branch" ng-model="vm.payment.BranchCode" class="form-control font-famil-open-sans-numbers"
                                                    ng-options="item.Key as item.Value for item in vm.branch"
                                                    tabindex=5 required>
                                                <option value="">--Please Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors ng-if="vm.payment.BranchCode == 7">
                                        <label class="col-sm-5">
                                            Branch Code
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" tabindex=6 name="branchCode" minlength="3" ng-model="vm.payment.Branch" placeholder="Branch Code" required>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">
                                            Frequency
                                        </label>
                                        <div class="col-sm-7">
                                            <select name="frequency" ng-model="vm.payment.Frequency" class="form-control"
                                                    ng-options="item.Key as item.Value for item in vm.FrequencyList"
                                                    tabindex=7 required>
                                                <option value="">--Please Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <label class="col-sm-5">
                                            Number of Collections
                                        </label>
                                        <div class="col-sm-7">
                                            <select name="collection" ng-model="vm.payment.NumberOfCollection" class="form-control font-famil-open-sans-numbers" ng-change="vm.changedValue(vm.payment.NumberOfCollection)"
                                                    ng-options="item.Value as item.Key for item in vm.CollectionList"
                                                    tabindex=8 required>
                                                <option value="">--Please Select--</option>
                                            </select>


                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-5">
                                            Collection Amount
                                        </label>
                                        <div class="col-sm-7 font-famil-open-sans-numbers">
                                            <b ng-bind="vm.payment.CollectionAmount" name="collectionAmount" ng-model="vm.payment.CollectionAmount"></b>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-5">
                                            First Collection Date
                                        </label>
                                        <div class="col-sm-7">                                           
                                            <!--<div class="input-group form-group" datetimepicker
                                                on-change="vm.update()"
                                                on-click="vm.changeDate()"                                                 
                                                ng-model="vm.payment.Date" options="vm.options">
                                                <input class="form-control" onkeydown="return false;"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>-->



                                            <div class="form-group" id="divDate">
                                                <div class="input-group">
                                                    <input class="form-control font-famil-open-sans-numbers" datetimepicker ng-model="vm.payment.Date" 
                                                           options="vm.options" ng-change="vm.payment.Date && vm.update()" onkeydown="return false;"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <div class="col-sm-5">
                                            <label>Send Email Confirmation</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" validateemail tabindex=10 name="emailConfirmation" ng-model="vm.payment.Email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" show-errors>
                                        <div class="col-sm-5">
                                            <label>Send Mobile Confirmation</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control font-famil-open-sans-numbers" tabindex=4 name="mobileNumber" numeric minlength="10" maxlength="11" ng-model="vm.payment.MobileNumber" placeholder="Mobile" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-2">
                                            <label class="control control--checkbox font-size">
                                                Email
                                                <input type="checkbox" name="email" ng-model="vm.payment.IsEmail" />
                                                <div class="control__indicator"></div>
                                            </label>
                                           
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control control--checkbox font-size">
                                                Sms
                                                <input type="checkbox" name="sms" ng-model="vm.payment.IsSms" />
                                                <div class="control__indicator"></div>
                                            </label>
                                           
                                        </div>
                                    </div>                                   


                                    <div class="row profile-div-vertical-align row-padding-5px">
                                        <div class="col-sm-12">
                                            <validation-Message></validation-Message>
                                            <ul class="custom-errorlist">
                                                <li ng-repeat="error in vm.validationErrors">{{ error }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-11">
                                                <label class="control control--checkbox font-size">
                                                    <span>
                                                        I Agree to the <a style="color:blue;text-decoration: underline;" href="" ng-click="vm.termsAndCondition('app/Template/TermsAndCondition.pdf')"> Terms and Conditions</a>
                                                    </span>
                                                    &nbsp;
                                                    <label ng-model="vm.payment.IPAddres" style="font-style: italic;" ng-show="vm.payment.IPAddres">
                                                        from IP Address : <value name="IpAddress" ng-model="vm.payment.IPAddres" class="NavyStyle"> ({{vm.payment.IPAddres}})</value>
                                                        <span class="validation-summary-errors" data-ng-repeat="errorMessage in paymentForm.IpAddress.$error.server">{{errorMessage}}</span>
                                                    </label>
                                                    <input type="checkbox" ng-click="vm.isTermsAndCondition == true ? vm.termsAndCondition('app/Template/TermsAndCondition.pdf') : ''" ng-change="vm.termsAndConditionChange()" ng-model="vm.payment.isTermsAndCondition" />
                                                    <div class="control__indicator"></div>
                                                </label>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <center>
                                            <input type="button" class="btn btn-success btn-group-sm" value="Submit" ng-disabled="vm.payment.isTermsAndCondition != true" ng-click="vm.submit(vm.payment,paymentForm)"  tabindex="12">

                                        </center>
                                        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h3 class="modal-title"><b>Payment Alert</b></h3>
                                                    </div>
                                                    <div class="modal-body">

                                                        <p><b>Please note that if the debit order fails, then bank charges will be added to the account</b></p>


                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-default btn-sm" ng-click="vm.save(vm.payment,paymentForm)">Proceed</button>
                                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <center>
                                                <img style="width:30%;" src="theme/img/background/u119.png" />
                                            </center>
                                        </div>
                                    </div>
                            
                                </div>
                            </form>    

                            <form name="zapperForm" ng-submit="vm.zappersave(vm.zapper,zapperForm)" novalidate>
                                <div class="tab-pane active" ng-if="vm.tabIndex==2">
                                    <div class="col-sm-12 row form-group" align="right">
                                        <div class="col-sm-5">
                                            <img src="theme/img/Blue-full-logo.png.png" />
                                        </div>
                                        <!--<div class="col-sm-4"></div>
                                        <div class="col-sm-3">-->
                                        <a href="" ng-click="vm.getZapper('https://www.zapper.com/download.php')">Get Zapper</a>
                                        <!--</div>-->
                                    </div>

                                    <div class="col-sm-12 form-group" show-errors>
                                        <div class="col-sm-4">
                                            <label>Email Address</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" validateemail name="emailAddress" ng-model="vm.zapper.email" placeholder="Email Address" required>
                                            <span class="text-danger" ng-show="zapperForm.emailAddress.$invalid && zapperForm.emailAddress.$dirty">
                                                <b>Invalid Email Address</b>
                                            </span>
                                        </div>
                                    </div>                                    

                                    <div class="row form-group">
                                        <center>
                                            <input type="submit" class="btn btn-primary" value="Display Code" />
                                        </center>
                                    </div>
                                    <div class="col-sm-12 form-group" ng-if="vm.emailAddress == true">
                                        <div class="col-md-8">
                                            <label>
                                                Scan this code using Zapper to process this payment
                                            </label>
                                        </div>

                                    </div>
                                    <div class="form-group" ng-if="vm.emailAddress == true">
                                        <div class="col-md-4"></div>
                                        <img style="width:30%;" src="{{vm.qrCode}}" />
                                    </div>
                                </div>
                            </form>

                            <form name="eftForm" novalidate>
                                <div class="tab-pane active" ng-if="vm.tabIndex == 3">
                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-8">Please make payment into the following account.</label>
                                    </div>                                   

                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-4 font-weight-normal">Account Name</label>
                                        <div class="col-sm-6">
                                            <label class="text-left">NuDebt Management (PTY) LTD</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-4 font-weight-normal">Account Number</label>
                                        <div class="col-sm-6 font-famil-open-sans-numbers">
                                            <label class="text-left"> 40 5848 2402</label>
                                        </div>
                                    </div>                                    

                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-4 font-weight-normal">Bank</label>
                                        <div class="col-sm-6">
                                            <label class="">  ABSA</label>
                                        </div>
                                    </div>                                    

                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-4 font-weight-normal">Account Type</label>
                                        <div class="col-sm-6">
                                            <label> Trust Account </label>
                                        </div>
                                    </div>                                  

                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-4 font-weight-normal">Branch Code</label>
                                        <div class="col-sm-6 font-famil-open-sans-numbers">
                                            <label> 632005</label>
                                        </div>
                                    </div>                                   

                                    <div class="col-sm-12 form-group">
                                        <label class="col-sm-4 font-weight-normal">Reference</label>
                                        <div class="col-sm-6 font-famil-open-sans-numbers">
                                            <label> ND{{vm.matterNumber}}</label>
                                        </div>
                                    </div>                                    

                                    <div class="row form-group">
                                        <div class="col-sm-4">
                                        </div>
                                        <label class="col-sm-6"> (Please use your matter number as reference)</label>
                                    </div>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="clear-both">&nbsp;</div>
</div>
<!--</div>-->
<style>
    .input-group-addon {
        padding: 6px !important;
        line-height: normal !important;
    }
</style>