﻿
<div class="container">
    <div class="row">
        <div class="col-md-12 text-uppercase">
            <div class="col-md-4" style="padding-bottom:10px;">
                <!--<a href="#" ui-sref="dashboard()" class="btn btn-primary btn-default btn-group-sm pull-left">Back</a>-->
                <a href="" ng-click="vm.navigateDashBoard()" class="btn btn-primary btn-default btn-group-sm" style="background-color:#3852a3 !important;border-color:#3852a3 !important;">Back</a>

            </div>
        </div>
    </div>
    <div class="col-sm-12 flex-container">
        <div class="col-sm-9 column margin-zero padding-zero">
            <div class="panel">
                <div class="col-xs-12" style="background-color:#F5F5F5;">
                    <form name="editProfileform" novalidate ng-submit="vm.save(vm.profile,editProfileform)">

                        <div class="row row-padding-5px" style="background-color:#374FA6;">
                            <div class="col-md-9 padding-left-5px text-align-left white-color font-size-larger">
                                Basic Information
                            </div>

                            <div class="col-md-2 block item float-right" style="text-align: right; padding-right: 0!important;">
                                <div style="width: 80px; padding: 5px; float: right;" class="bg-update border-radius-2px">
                                    <i class="fa fa-pencil white-color" style="margin-right: 5px!important; font-size: 16px!important; margin-top:0!important;"></i>
                                    <a class="font-weight-bold block make-payment">UPDATE</a>
                                </div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px">Title</div>
                                <div class="col-md-2 left-right-padding-7px font-weight-bold" style="color:#959595;font-size:14px;">{{vm.profileExist.TitleName}}</div>
                                <div class="col-md-1 left-right-padding-7px"></div>
                                <div class="col-md-4 left-right-padding-7px" ng-init="vm.profile.title=1">
                                    <select name="Title" ng-model="vm.profile.title" class="form-control" style="font-size:14px;" required
                                            ng-options="item.Key as item.Value for item in vm.title"
                                            tabindex=1>
                                        <option value="">--Please Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Initials</div>
                                <div class="col-md-2 left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.Initials}}</div>
                                <div class="col-md-1 left-right-padding-7px"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" style="font-size:14px;" required name="Initial" maxlength="5" ng-trim="true" ng-model="vm.profile.Initials" tabindex=2 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Name</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.Name}}</div>
                                <div class="col-md-1 left-right-padding-7px"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" style="font-size:14px;" name="Name" maxlength="50" ng-model="vm.profile.Name" required tabindex=3 ng-disabled="true" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Surname</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.Surname}}</div>
                                <div class="col-md-1 left-right-padding-7px"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" name="Surname" maxlength="50" style="font-size:14px;" ng-model="vm.profile.Surname" required tabindex=4 ng-disabled="true" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">ID Number</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.SA_ID}}</div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.saIdNotVerified" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.saIdVerified" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control font-famil-open-sans-numbers" style="font-size:14px;" name="sa_id" maxlength="13" ng-model="vm.profile.SA_ID" required tabindex=5 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Gender</div>
                                <div class="col-md-2 left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.Gender == "1" ? "Male" : vm.profileExist.Gender == "2"? "Female" : ""}}</div>
                                <div class="col-md-1 left-right-padding-7px"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <label class="radio-inline" style="font-size:14px;">
                                        <input type="radio" ng-model="vm.profile.Gender" value="1" name="optradio" ng-init="1" tabindex=6>Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="vm.profile.Gender" value="2" name="optradio" tabindex=7>Female
                                    </label>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Cell Number</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.CellNumber}} </div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.otpNotVerified" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.otpVerified" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control font-famil-open-sans-numbers" name="Cell" style="font-size:14px;" numeric maxlength="10" ng-pattern="/^[0-9]*$/" ng-model="vm.profile.CellNumber" tabindex=8 />
                                </div>
                                <div class="col-md-1 left-right-padding-7px" style="padding-left:0px!important">
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-sm"
                                            style="background-color:#3852a3;outline-color:#3852a3; border-color:#3852a3;font-size:14px;"
                                            ng-click="vm.verifySms(form,vm.profile)" tabindex=9>
                                        verify
                                    </button>
                                </div>







                                <!-- Button HTML (to Trigger Modal) -->
                                <!--<a href="#myModal1" class="btn btn-lg btn-primary" data-toggle="modal">Check</a>-->
                                <!-- Modal HTML -->
                                <!--<div id="myModal1" class="modal fade" data-backdrop="static">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text"  id="OTPfgdfg" >

                                                <p>Do you want to save changes you made to document before closing?</p>
                                                <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="page-container">
                                    <div class="container">
                                        <br />
                                        <button class="btn launchmodal">Launch Confirm</button>
                                    </div>
                                </div>

                                <div id="myModal" class="modal hide fade">
                                    <div class="modal-body">
                                        <input type="text" id="asas">
                                    </div>
                                </div>-->
                                <!--<script type="text/ng-template" id="dialog.html">
                                    <div class="modal-dialog" data-backdrop="static">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p>header</p>
                                            </div>
                                            <div class="modal-body">
                                                <p>One fine: <input type="text" ng-model="email" /></p>
                                            </div>
                                            <div class="modal-footer">
                                                <p>footer</p>
                                                <button class="btn btn-primary" ng-click="ok()">ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                                <button class="btn btn-primary" ng-click="openDialog()">open</button>-->
                                <!-- Modal -->
                                <div id="myModalCell" class="modal fade" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     data-backdrop="static" data-keyboard="false">

                                    <div class="modal-dialog" role="document">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"><b>OTP Verification</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <p><b>Please enter the OTP:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sent to &nbsp;&nbsp;<label ng-bind="vm.profile.CellNumber"></label> </p>

                                                        <input type="text" class="ax_text_field" ng-model="vm.oTP" id="OTP" ng-keydown="removeTagOnBackspace($event)">
                                                        <div> OTP expires in <span id="otpTimer"></span> minutes!</div>
                                                    </div>


                                                <div class="modal-footer">
                                                    <div class="com-md-3 pull-left"><a href="" ng-click="vm.verifySms(form,vm.profile)">Resend OTP</a></div>
                                                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.verifyOTP(vm.oTP)">Submit</button>
                                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Email</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.Email}} </div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.emailNotVerified" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.emailVerified" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="email" class="form-control" name="Email" style="font-size:14px;" validateemail ng-model="vm.profile.Email" maxlength="50" placeholder="Email" tabindex=10 />
                                </div>
                                <div class="col-md-1 left-right-padding-7px" style="padding-left:0px!important">
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-sm" style="background-color:#3852a3;font-size:14px; outline-color:#3852a3;border-color:#3852a3"
                                            data-ng-click="vm.verifyEmail(form,vm.profile)" tabindex=11>
                                        verify
                                    </button>
                                </div>

                                <!-- Modal -->
                                <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"><b>Email Verification</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <center><p><b>Please check your email for a verification link.</b></p></center>

                                            </div>
                                            <div class="modal-footer" style="margin:0;">
                                                <div class="col-md-3 pull-left" style="padding:0; margin:0; text-align:left;"><a href="" data-ng-click="vm.verifyEmail(form,vm.profile)">Resend Link</a></div>
                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row row-padding-10px" style="background-color:#dddddd; margin-top:5px;">
                            <div class="col-md-12 margin-zero padding-zero row-padding-5px" style="text-align:left; font-size:larger;font-weight:500; color:#686868;">
                                Banking Information
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Bank:</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="font-size:14px;color:#959595;" ng-model="vm.profileExist.IsAccountVerified"> {{vm.profileExist.Bank}}</div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.isVerifyBankAccount" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.isVerifiedBankAccount" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" name="Bank" style="font-size:14px;" ng-model="vm.profile.Bank" maxlength="30" tabindex=12 />
                                </div>
                                <div class="col-md-1 left-right-padding-7px" style="padding-left:0px!important; ">
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-sm" style="background-color:#3852a3;font-size:14px; outline-color:#3852a3; border-color:#3852a3;"
                                            data-ng-click="vm.verify(form,vm.profile)" tabindex=13>
                                        verify
                                    </button>
                                </div>

                                <!-- Modal -->
                                <div id="myModalBank" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"><b>Bank Account Verification</b></h4>
                                            </div>
                                            <div class="modal-body" ng-show="vm.isInValidBankDetails">
                                                <center><p><b>Thank You.</b></p></center>
                                                <center><p><b>Account verification sent for processing.</b></p></center>
                                            </div>
                                            <div class="modal-body" ng-show="!vm.isInValidBankDetails">
                                                <center><p><b style="color:red">Ensure that you have entered all your bank account details</b></p></center>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Branch Code</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.BranchName}}</div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.isVerifyBankAccount" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.isVerifiedBankAccount" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <select id="BranchCodeId" name="BranchCode" style="font-size:14px;" ng-model="vm.profile.BranchCode" class="form-control font-famil-open-sans-numbers" ng-change="vm.getTemplate()"
                                            ng-options="item.Key as item.Value for item in vm.branch"
                                            tabindex=14>
                                        <option value="">--Please Select--</option>
                                    </select>
                                    <!--  <input type="text" class="form-control" name="BranchCode" ng-model="vm.profile.branchcode" required />-->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row form-group profile-div-vertical-align row-padding-5px" show-errors ng-if="vm.profile.BranchCode == 7" style="margin-bottom:0px!important;">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Branch Code Other</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.BranchCodeOther}}</div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.isVerifyBankAccount" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.isVerifiedBankAccount" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" tabindex=6 name="BranchCodeOther" style="font-size:14px;" minlength="3" ng-model="vm.profile.BranchCodeOther" placeholder="Branch Code" required>
                                </div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Account Number</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.AccountNumber}}</div>
                                <div class="col-md-1 left-right-padding-7px">
                                    <centre>
                                        <i class="fa fa-times fa-2x" aria-hidden="true" ng-show="vm.isVerifyBankAccount" style="color:red; margin-left: 5px;"></i>
                                        <i class="fa fa-check fa-2x" aria-hidden="true" ng-show="vm.isVerifiedBankAccount" style="color:green; margin-left: 5px;"></i>
                                    </centre>
                                </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control font-famil-open-sans-numbers" name="AccountNo" maxlength="13" style="font-size:14px;" ng-model="vm.profile.AccountNumber" numeric tabindex=15 />
                                </div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px text-align-center" style="background-color:#E9E9E9; height:50px; margin-top:5px;">
                            <div class="col-xs-12">
                                <input class="btn btn-primary"
                                       style="background-color:#4cA140;outline-color:#4cA140;font-size:14px;" type="submit" name="Save" value="Update Basic Info"
                                       ng-disabled="vm.profileExist.IsCellNumberVerified==false || vm.profileExist.IsEmailVerified==false || vm.profileExist.IsAccountVerified==false ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />&nbsp;<br />
            <div class="panel">
                <div class="col-xs-12" style="background-color:#F5F5F5;">
                    <form name="editProfileform" novalidate ng-submit="vm.save(vm.profile,editProfileform)">
                        <div class="row" style="background-color:#374FA6; padding:5px;">
                            <div class="col-md-9 padding-left-5px" style="text-align:left; font-size:larger; color:white; ">
                                Additional Information
                            </div>
                            <div class="col-md-2 block item float-right" style="text-align: right; padding-right: 0!important;">
                                <div style="width: 80px; padding: 5px; float: right;" class="bg-update border-radius-2px">
                                    <i class="fa fa-pencil white-color" style="margin-right: 5px!important; font-size: 16px!important; margin-top:0!important;"></i>
                                    <a class="font-weight-bold block make-payment">UPDATE</a>
                                </div>
                            </div>
                        </div>

                        <div class="row"></div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">

                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Next of Kin Name</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.NextofKinName}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" name="KinName" maxlength="50" style="font-size:14px;" ng-model="vm.profile.NextofKinName" tabindex=16 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Next of Kin Contact Number</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.NextofKinContactNumber}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control font-famil-open-sans-numbers" name="KinContact" numeric maxlength="10" style="font-size:14px;" ng-model="vm.profile.NextofKinContactNumber" tabindex=17 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Kin Address</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;"> {{vm.profileExist.NextofKinAddress}} </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<input type="text" class="form-control" name="KinAddress" maxlength="50" ng-model="vm.profile.NextofKinAddress" tabindex=18/>-->
                                    <textarea class="form-control" name="KinAddress" style="font-size:14px;" maxlength="250" ng-model="vm.profile.NextofKinAddress" tabindex=18></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">RelationShip with Next of Kin</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;"> {{vm.profileExist.RelationShipWithNextofKin}} </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<input type="text" class="form-control" name="KinAddress" maxlength="50" ng-model="vm.profile.NextofKinAddress" tabindex=18/>-->
                                    <input type="text" class="form-control" name="RelationShipWithNextofKin" maxlength="30" style="font-size:14px;" ng-model="vm.profile.RelationShipWithNextofKin" tabindex=19></input>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Alternate Contact Number</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;"> {{vm.profileExist.AlternateContactNumber}} </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<input type="text" class="form-control" name="KinAddress" maxlength="50" ng-model="vm.profile.NextofKinAddress" tabindex=18/>-->
                                    <input type="text" class="form-control font-famil-open-sans-numbers" name="AlternateContactNumber" style="font-size:14px;" maxlength="15" numeric ng-model="vm.profile.AlternateContactNumber" tabindex=20></input>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Employer Name</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.EmployerName}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" name="EmployerName" maxlength="50" style="font-size:14px;" ng-model="vm.profile.EmployerName" tabindex=21 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Employer Telephone Number</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.EmployerTelephoneNumber}}</div>
                                <div class="col-md-1"> </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control font-famil-open-sans-numbers" name="EmployerPhone" numeric maxlength="21" style="font-size:14px;" ng-model="vm.profile.EmployerTelephoneNumber" tabindex=22 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Employer Address</div>

                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.EmployerAddress}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<input type="text" class="form-control" name="EmployerAddress" maxlength="50" ng-model="vm.profile.EmployerAddress" tabindex=21 />-->
                                    <textarea class="form-control" name="EmployerAddress" maxlength="250" style="font-size:14px;" ng-model="vm.profile.EmployerAddress" tabindex=23></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Work Number</div>

                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.WorkNumber}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<input type="text" class="form-control" name="EmployerAddress" maxlength="50" ng-model="vm.profile.EmployerAddress" tabindex=21 />-->
                                    <input type="text" class="form-control font-famil-open-sans-numbers" name="WorkNumber" maxlength="18" style="font-size:14px;" ng-model="vm.profile.WorkNumber" numeric tabindex=24>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero" show-errors>
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Alternate Email</div>

                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.AlternateEmail}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<input type="text" class="form-control" name="EmployerAddress" maxlength="50" ng-model="vm.profile.EmployerAddress" tabindex=21 />-->
                                    <input type="email" class="form-control" name="EmployerAddress" maxlength="250" style="font-size:14px;" validateemail ng-model="vm.profile.AlternateEmail" tabindex=25>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Salary Date</div>
                                <div class="col-md-2 left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;">{{vm.profileExist.SalaryDate}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <select name="SalaryDate" style="font-size:14px;" ng-model="vm.profile.SalaryDate" class="form-control font-famil-open-sans-numbers"
                                            ng-options="item for item in vm.dateList"
                                            tabindex=26>
                                        <option value="">--Please Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Profession/Industry</div>
                                <div class="col-md-2 wrap_text left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.Profession}}</div>
                                <div class="col-md-1"> </div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control" style="font-size:14px;" name="Profession" maxlength="50" ng-model="vm.profile.Profession" tabindex=27 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>


                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Job Start Date</div>
                                <div class="col-md-2 left-right-padding-7px font-weight font-famil-open-sans-numbers" options="vm.options" style="color:#959595;font-size:14px;z-index:1000"> {{vm.profileExist.JobStartDate| date:'dd/MM/yyyy'}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <!--<div class="input-group" id="datetimepicker"
                                         ng-model="vm.profile.JobStartDate" style="font-size:14px;" options="vm.options">
                                        <input class="form-control" onkeydown="return false;" tabindex=28 />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>-->

                                    <div class="input-group form-group" datetimepicker
                                         ng-model="vm.profile.JobStartDate" style="font-size:14px;" options="vm.options">
                                        <input class="form-control font-famil-open-sans-numbers" onkeydown="return false;" tabindex=28 />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>


                                    <!--<div class="form-group">
                                        <div class='input-group date' id='datetimepicker1' ng-model="vm.profile.JobStartDate" style="font-size:14px;" options="vm.options">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>-->




                                    <!--      <input type="date" class="form-control" name="JobStartDate" ng-model="vm.addprofile.jobstartdate" required />-->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Gross Monthly Income</div>

                                <div class="col-md-2 left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;"> {{vm.profileExist.GrossMonthlyIncome}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <input type="text" class="form-control font-famil-open-sans-numbers" style="font-size:14px;" name="GrossMonthlyIncome" numeric maxlength="18" ng-model="vm.profile.GrossMonthlyIncome" tabindex=29 />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                 
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Preferable Contact Method</div>
                                <div class="col-md-2 left-right-padding-7px font-weight" style="color:#959595;font-size:14px;">{{vm.profileExist.PreferableContactMethodName}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <select id="PreferableContactMethodId" style="font-size:14px;" name="PreferableContactMethod" ng-model="vm.profile.PreferableContactMethod" class="form-control" ng-change="vm.getTemplate()"
                                            ng-options="item.Key as item.Value for item in vm.preferableContactMethod"
                                            tabindex=14>
                                        <option value="">--Please Select--</option>
                                    </select>
                                    <!--<label class="radio-inline">
                                        <input name="cssPre" id="css1" value="1" class="active" type="radio" data-ng-model="vm.profile.PreferableContactMethod">Call
                                    </label>
                                    &nbsp;&nbsp;
                                    <label class="radio-inline">
                                        <input name="cssPre" id="css2" value="2" type="radio" data-ng-model="vm.profile.PreferableContactMethod">SMS
                                    </label>

                                    <br />
                                    <label class="radio-inline">
                                        <input name="cssPre" id="css3" value="3" type="radio" checked="checked" data-ng-model="vm.profile.PreferableContactMethod">Email
                                    </label>
                                    <label class="radio-inline">
                                        <input name="cssPre" id="css4" value="4" type="radio" data-ng-model="vm.profile.PreferableContactMethod">Whatsapp
                                    </label>-->

                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Preferable Contact Time From</div>

                                <div class="col-md-2 left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;"> {{vm.profileExist.PreferableContactTimeFrom}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="PreferableContactTimeFrom" name="PreferableContactTimeFrom" style="font-size:14px;" type="text" tabindex="6" 
                                               class="form-control font-famil-open-sans-numbers" ng-model="vm.profile.PreferableContactTimeFrom">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time i-override"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 padding-left-10px">
                                <div class="horizontalRuleProfile"></div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px">
                            <div class="col-xs-12 form-group margin-zero padding-zero">
                                <div class="col-md-4 padding-left-5px" style="font-size:14px;">Preferable Contact Time To</div>
                                <div class="col-md-2 left-right-padding-7px font-weight font-famil-open-sans-numbers" style="color:#959595;font-size:14px;"> {{vm.profileExist.PreferableContactTimeTo}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 left-right-padding-7px">
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="PreferableContactTimeTo" name="PreferableContactTimeTo" style="font-size:14px;" type="text" tabindex="6" 
                                               class="form-control font-famil-open-sans-numbers" ng-model="vm.profile.PreferableContactTimeTo">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time i-override"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row profile-div-vertical-align row-padding-5px text-align-center profile-update-btn-row-style">
                            <div class="col-md-12">
                                <input class="btn btn-primary" style="background-color:#4cA140;outline-color:#4cA140;font-size:14px;font-weight:700" type="submit" name="Save" value="Update Additional Info" tabindex=26>
                            </div>
                        </div>





                        <script src="../../styles/bootstrap-datetimepicker/bootstrap-timepicker.js"></script>
                        <link href="../../styles/bootstrap-datetimepicker/bootstrap-timepicker.css" rel="stylesheet" />
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css" rel="stylesheet" />
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>

                        <script type="text/javascript">
                            $('#PreferableContactTimeFrom').timepicker({
                                minuteStep: 1,
                                template: 'dropdown',
                                appendWidgetTo: 'body',
                                showSeconds: true,
                                showMeridian: false,
                                defaultTime: false
                            });

                            $('#PreferableContactTimeTo').timepicker({
                                minuteStep: 1,
                                template: 'dropdown',
                                appendWidgetTo: 'body',
                                showSeconds: true,
                                showMeridian: false,
                                defaultTime: false
                            });

                            $(function () {
                                $('#datetimepicker1').datetimepicker({
                                    //minDate: new Date(),
                                    disabledDates: ["2017/01/01", "2017/01/02", "2017/03/21", "2017/04/14", "2017/04/17", "2017/04/27", "2017/05/01", "2017/06/16", "2017/08/09", "2017/09/24", "2017/09/25", "2017/12/16", "2017/12/25", "2017/12/26", ]
                                    //disabledDates: DisableSpecificDates
                                });
                            });







                            

                            function DisableSpecificDates(date) {
                                var m = date.getMonth();
                                var d = date.getDate();
                                var y = date.getFullYear();

                                /** Days to be disabled as an array */
                                var disableddates = [y + "/01/01", y + "/01/02", y + "/03/21", y + "/04/14", y + "/04/17", y + "/04/27", y + "/05/01", y + "/06/16", y + "/08/09", y + "/09/24", y + "/09/25", y + "/12/16", y + "/12/25", y + "/12/26", ];

                                alert(disableddates);

                                //// First convert the date in to the mm-dd-yyyy format 
                                //// Take note that we will increment the month count by 1 
                                //var currentdate = (m + 1) + '-' + d + '-' + y;

                                //// We will now check if the date belongs to disableddates array 
                                //for (var i = 0; i < disableddates.length; i++) {

                                //    // Now check if the current date is in disabled dates array. 
                                //    if ($.inArray(currentdate, disableddates) != -1) {
                                //        return [false];
                                //    }
                                //}

                            }




                        </script>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-3 column bg-alt" style="background-color:white; margin-right: 0!important; padding-right: 0!important;">
            <div style="padding: 0; margin:0;">
                <div class="panel">
                    <div class="panel-body padding-zero" style="background-color:white;">
                        <div style="text-align:center;">
                            <div style="color:#959595; font-weight:bold; font-size:16px;margin-top:-3px;">You've achieved</div>
                            <div ng-show="vm.profile.ProfileStatus == 'BRONZE'" style="font-weight:bold; font-size:22px;margin-top:-9px;color:#B07D52 !important">{{vm.profile.ProfileStatus}} STATUS</div>
                            <div ng-show="vm.profile.ProfileStatus == 'SILVER'" style="font-weight:bold; font-size:22px;margin-top:-9px;color:#ADAEB0 !important">{{vm.profile.ProfileStatus}} STATUS</div>
                            <div ng-show="vm.profile.ProfileStatus == 'GOLD'" style="font-weight:bold; font-size:22px;margin-top:-9px;color:#EEC255 !important">{{vm.profile.ProfileStatus}} STATUS</div>
                            <div ng-show="vm.profile.ProfileStatus == 'PLATINUM'" style="font-weight:bold; font-size:22px;margin-top:-9px;color:#7D8588 !important">{{vm.profile.ProfileStatus}} STATUS</div>
                            <!--<img id="u162_img" class="img " ng-src="../../images/edit_profile/{{vm.StatusImage}}" />-->

                            <img src={{vm.StatusImage}} />
                        </div>
                        <div class="panel" style="background-color:#d4a94b; align-items:center">
                            <p style="text-align:center; font-weight:bold; color:white; font-size:18px;margin:10px 0px 10px 0px">You have {{vm.profile.TotalRewardPoints}} points!</p>
                        </div>
                        <div class="panel" style="background-color:#f5f5f5;">
                            <div>
                                <p style="text-align:center; font-size:14px;font-weight:500;color:#959595;padding:5px 1px 1px 1px;">Complete your profile to reach <span style="color:#686868;font-weight:900">{{vm.profile.NextStatus}} STATUS</span><span style="color:#959595"> and get even</span><span style="color:#686868;font-weight:900"> more rewards </span></p>
                            </div>
                            <p style="list-style:none; text-align:center; margin-left: 10px; font-weight:900;font-size:14px;color:#3852a3;margin-bottom:0.5rem;">
                                <span ng-show="!vm.profile.IsCellNumberVerified">Verify your cell number</span>
                            </p>
                            <p style="list-style:none; text-align:center; margin-left: 10px; font-weight:900;font-size:14px;color:#3852a3;">
                                <span>Complete outstanding balance in full</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear-both">&nbsp;</div>
</div>