﻿<div class="container">
    <div class="row">
        <div class="col-md-12 text-uppercase">
            <div class="col-md-4" style="padding-bottom:10px;">
               <!-- <a href="#" ui-sref="dashboard()" class="btn btn-primary btn-default btn-group-sm pull-left">Back</a>-->
                <a href="" ng-click="vm.navigateDashBoard()" class="btn btn-primary btn-default btn-group-sm" style="background-color:#3852a3 !important;border-color:#3852a3 !important;">Back</a>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-7 margin-zero padding-zero">
            <div class="col-md-5">
                <div>
                    <b><span style="color:#9B9B9B;line-height:16px; height:16px; margin:0; padding:0;"></span>{{vm.CreditorName}} <span style="color:#A7A7A7">ACCOUNT</span></b>
                    <br /><div style="color:#A7A7A7; font-size:12px; line-height:16px; height:16px; margin-top:-5px; margin-bottom:15px;" >Matter Number: <a class="font-famil-open-sans-numbers cursor-pointer">{{vm.MatterNumber}}</a></div>

                    <div class="col-xs-8 padding-zero margin-zero text-align-center">
                        <div class="block panel padder-v bg-account item border-radius-2px">
                            <span class="text-muted text-xs">Amount Outstanding</span>
                            <span class="font-weight-bold block outstanding-amount font-famil-open-sans-numbers">R {{vm.outstanding}}</span>

                        </div>
                    </div>

                    <div class="col-xs-8 padding-zero margin-zero text-align-center">
                        <div class="block panel padder-v bg-payment item border-radius-2px">
                            <a href="" data-ng-click="vm.paymentnavigate(application)" class="font-weight-bold block make-payment">MAKE PAYMENT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 align-top" style="float:right;margin:0 !important;">
                <div class="panel-body text-center" >
                    <div easypiechart options="options" percent="vm.percent" >
                        <div class="panel-body text-center font-famil-open-sans-numbers" 
                             style="color:#FFCE58;font-size:50px;z-index: 1;position: absolute;padding-top: 10%;margin-left: -5%;height: 100%;width: 100%;">
                            {{vm.percent}}%
                            <div class="font-famil-open-sans-numbers" style="color:#757575; font-size:12px; margin-top:-10px; margin-left: -5%; padding-bottom:5px;">of a total <b>R {{vm.capitalAmt}}</b></div>
                            <div style="color:#FFCE58; font-size:12px; margin-top:-5px; margin-left: -5%;" class="font-weight-bold"><b>Paid</b></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-md-5">
            <!--see examples/bubble.html for random bubbles source code-->

            <!--<canvas id="myChart" width="400" height="400"></canvas>
            <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
            </script>-->



            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->

            <!--<canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
            <script>
                new Chart(document.getElementById("bar-chart-horizontal"), {
                    type: 'horizontalBar',
                    data: {
                        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                        datasets: [
                          {
                              label: "Population (millions)",
                              backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                              data: [2478, 5267, 734, 784, 433]
                          }
                        ]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: 'Predicted world population (millions) in 2050'
                        }
                    }
                });

            </script>-->















            <!--<canvas id="chart" class="chart chart-horizontal-bar" 
                    chart-data="data" chart-labels="labels"></canvas>-->






            <!--<canvas id="base" class="chart-horizontal-bar"
                    chart-data="data" chart-labels="labels"></canvas>-->
            
            
            <!--<canvas id="line" class="chart chart-line" chart-data="data" chart-colors="colors"
                    chart-labels="labels" chart-series="series" chart-options="optionsLine"
                    chart-dataset-override="datasetOverride" ></canvas>-->
            
           
            <!--chart-options="options3"   chart-hover="hoverme"  chart-dataset-override="DataSetOverride"-->
        </div>
    </div>


    <div class="clear-both"></div>









    <div class="form-group">
        <div class="col-md-12">
            <span class="upper-case " style="color:#A7A7A7; font-weight:500;">Previous Payments</span>

            <table st-table="previousPaymentsCollection" id="previouspaymenttable" st-safe-src="vm.previousPaymentList" st-set-filter="filter" class="table table-bordered table-striped table-hover table-condensed">
                <thead class="bg-primary" style="font-weight: bold;">
                    <tr class="white-color">
                        <td>Date</td>
                        <td>Description</td>
                        <td>Amount</td>
                        <td>Balance</td>
                    </tr>
                    <!--<tr>
                <th colspan="7"><input st-search="" style="background-color:white;" class="form-control" placeholder="referenceno,name,contactno,email,status..." type="text" /></th>
            </tr>-->
                </thead>
                <tfoot style="background-color: rgba(104, 99, 99, 0.22);">
                    <tr class="text-right">
                        <th colspan="2" class="text-right borderless"><b>Total Payments</b></th>
                        <td class="font-weight-bold text-right font-famil-open-sans-numbers">{{vm.PreviousPaymentTotal}}</td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr st-select-row="prevPayment" ng-repeat="prevPayment in previousPaymentsCollection track by $index">
                        <td class="font-famil-open-sans-numbers">{{prevPayment.Date | date:'dd/MM/yyyy'}}</td>
                        <td ng-bind="prevPayment.Description"></td>
                        <td class="text-right font-famil-open-sans-numbers">{{prevPayment.Amount}}</td>
                        <td ng-class="$last ? 'font-weight-bold' : ''" class="text-right font-famil-open-sans-numbers">{{prevPayment.Balance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear-both">&nbsp;</div>
</div>
