﻿<div class="pagination" ng-if="pages.length >= 2">
    <ul class="pagination">
        <li ng-if="currentPage > 1">
            <a ng-click="selectPage(1)">First</a>
        </li>
        <!--<li ng-if="currentPage > 1">
            <a ng-click="selectPage(currentPage-1)">Previous</a>
        </li>-->
        <!--&lt;&lt;-->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
            <a ng-click="selectPage(page)">{{page}}</a>
        </li>
        <!--<li ng-if="currentPage < numPages">
            <a ng-click="selectPage(currentPage+1)">Next</a>
        </li>-->
        <li ng-if="currentPage < numPages">
            <a ng-click="selectPage(numPages)">Last</a>
        </li>
    </ul>
</div>


