﻿
        <!--<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Bank Account Verification</b></h4>
            </div>
            <div class="modal-body">
                <center><p><b>Thank You.</b></p></center>
                <center><p><b>Account verification sent for processing.</b></p></center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>-->



<div class="modal-header clearfix">
    <h3 class="modal-title pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i> Terms & Condition</h3>
    <button type="button" class="close pull-right" ng-click="vm.ok()">&times;</button>
</div>
<div class="modal-body">
    <ul>
        <li>The Service Equipment will be provisioned with a standard configuration in respect of the ordered Service.</li>
        <li>You must identify a suitable location for the Service Equipment. The location must be dry, free from vibration and well ventilated. Installation is only possible if the distance from the termination point of the Access Circuit and a 220V energy supply to the position the Service Equipment is not greater than 2 metres.</li>
        <li>In the event of failure of the Service Equipment, CipherWave will repair or replace (at Cipher Wave’s discretion) the Service Equipment where such failure is covered by the warranty of the original equipment manufacturer. Where the Service Equipment is replaced, you must return the original Service Equipment to CipherWave.</li>
        <li>You accept liability for any costs incurred by CipherWave as a result of repair or replacement of Service Equipment where the Service Equipment failure was caused by your use, misuse or changes to the Service Equipment, other than as previously agreed to in writing by CipherWave.</li>
        <li>CipherWave will retain the password for the Service Equipment. Responsibility for the IP configuration of the Service Configuration lies with CipherWave.</li>
    </ul>
</div>
<div class="modal-footer">
    <div class="button-bar button-bar-modal">
        <button type="submit" class="btn btn-success" ng-click="vm.ok()"><i class="fa fa-check"></i> OK</button>
    </div>
</div>

