﻿<div class="modal-header clearfix">
    <h3 class="modal-title pull-left"><i class="fa fa-file-pdf-o"></i> {{vm.reportName}}</h3>
    <button type="submit" class="close pull-right" ng-click="vm.ok()">&times;</button>
</div>
<div class="modal-body">
    <pdf-report iframesrc="vm.pdfUrl"></pdf-report>
</div>
<style>
    @media (max-width: 430px)and (orientation : portrait) {
        .modal-body {
            height: 470px;
            -webkit-overflow-scrolling: touch;
            overflow: scroll;
        }
    }

    @media (max-width: 700px)and (orientation : landscape) {
        .modal-body {
            height: 230px;
            -webkit-overflow-scrolling: touch;
            overflow: scroll;
        }
    }
</style>