<div data-ng-controller="ShellController as vm">
    <div id="menu">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" ng-hide="layoutHeaderChanges == null" class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../theme/img/background/Logo.png">
                    </a>
                </div>
                <a href="javascript:;" class="menu-toggler"></a>
                <div class="collapse navbar-collapse" id="menu-content">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="layoutHeaderChanges"><a href="#head">Home</a></li>
                        <li ng-show="layoutHeaderChanges"><a href="#connect">Pay Now</a></li>
                        <li ng-show="layoutHeaderChanges"><a href="#collect">Collect</a></li>
                        <li ng-show="layoutHeaderChanges"><a href="#testimonial">Celebrate</a></li>
                        <li ng-show="layoutHeaderChanges"><a href="#contact">Contact</a></li>
                        <li ng-show="layoutHeaderChanges == false"><a style="cursor: default !important;">Customer Portal</a></li>
                        <li ng-show="layoutHeaderChanges == false">
                            <a href="#"  data-ng-click="vm.logout()" style="font-weight:bold;"><span style="background-color:#F4F4F4; padding:5px 10px; border-radius:2px;">Sign Out</span></a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav>


    </div>

    <div ui-view class="shuffle-animation">
    </div>
    <div ngplus-overlay
         ngplus-overlay-delay-in="10"
         ngplus-overlay-delay-out="10"
         ngplus-overlay-animation="dissolve-animation">
        <div class="loading">
            <!--<div class="loader"></div>-->
            <div class="loader">
                <!--<img src="../theme/img/loading.gif" width="64" height="64" style="vertical-align:middle; text-align:center;" />-->
            </div>
        </div>
    </div>

    <footer class="navbar-fixed-bottom">&copy;Copyright 2017 NuDebt Management</footer>
</div>

<script src="theme/vendor/bootstrap/js/bootstrap.min.js"></script>

