﻿<div class="container">
    <br />
    <div class="row" style="overflow:auto;">
        <!--<div class="form-group">-->
        <div class="col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-2 form-group">
                <a href="" ui-sref="dashboard.link" class="btn btn-primary btn-default btn-group-sm">Back</a>

            </div>
            <div class="col-md-6 col-sm-3 form-group">
                <button class="btn btn-primary" ng-click="vm.refresh()">Refresh
                    <!--<i class="fa fa-refresh"></i>-->
                </button>

            </div>
            <div class="col-md-4 col-sm-5 form-group">
                <input type="text" placeholder="Search..." ng-model="vm.searchText" class="form-control" />
            </div>
            <div class="col-md-1 col-sm-1 form-group" ng-click="vm.search()">
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <!--</div>-->
        
    </div>
    <div class="row"style="overflow-y: hidden;overflow-x: auto;">
        <table style="margin-top:0.5em;" st-table="displayedCollection" id="exportable" st-safe-src="vm.paymentlogList" st-set-filter="filter" class="table table-bordered table-striped table-hover table-condensed">
            <thead class="bg-primary" style="font-weight: bold;">
                <tr class="white-color">
                    <td st-sort="Client_Id">Client Id</td>
                    <td st-sort="Matter_Id">Matter Number</td>
                    <td st-sort="AccountType">Amount Type</td>
                    <td st-sort="Date">Action Date</td>
                    <td>Easy Debit PaymentID</td>
                    <td>Frequency</td>
                    <td>Installment Count</td>
                    <td>Installment Amount</td>
                    <td st-sort="PaymentStatus">Payment Status</td>
                    <td st-sort="DateCreated">Date Created</td>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="application" ng-repeat="application in displayedCollection track by $index">
                    <td ng-bind="application.Client_Id"></td>
                    <td ng-bind="application.Matter_Id"></td>
                    <td ng-bind="application.AccountType"></td>
                    <td>{{application.Date | date:'dd/MM/yyyy'}}</td>
                    <td ng-bind="application.EasyDebitPaymentId"></td>
                    <td ng-bind="application.Frequency"></td>
                    <td ng-bind="application.NumberOfCollection" align="right"></td>
                    <td class="text-right">{{application.CollectionAmount.toFixed(2)}}</td>
                    <td ng-if="application.StatusMessage=='Failure'">Submission Error</td>
                    <td ng-bind="application.PaymentStatus" ng-if="application.StatusMessage!='Failure'"></td>
                    <td>{{application.DateCreated | date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <div st-template="/pagination.custom.html" st-pagination="" st-items-by-page="10"></div>
                        <!--<span st-pagination="" st-items-by-page="10"></span>-->
                    </td>
                </tr>

            </tfoot>
        </table>
        <div class="text-center col-md-12" ng-show="vm.paymentlogList == undefined  || vm.paymentlogList.length == 0" style="color: #999; font-size:-webkit-xxx-large;">
            No Records
        </div>
    </div>

</div>
