﻿.black-color{
    color:black;
}
 a.ccc-icon {
	display:inline-block;
	height: 150px;
	width: 150px;
	margin: 0px auto;
}

.i-connect {
    background:transparent url('../img/icons_main.png')no-repeat 0px 0px;
}

.i-collect {
      background:transparent url('../img/icons_main.png')no-repeat -150px 0px;
}

.i-celebrate {
    /*background: transparent url('theme/img/icons_main.png')no-repeat -300px 0px;*/
    background: transparent url('../img/icons_main.png')no-repeat -300px 0px;

}

.parallax {
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0;
  position: relative; }
  .parallax.active {
    background-attachment: fixed; }
  .parallax .container {
    padding: 90px 0px; }
  .parallax.empty .container {
    padding: 100px 0px; }

  .icontop img {
    position: relative;
    top: -175px;
	width: 150px;
	margin:auto;
	margin-bottom: -125px;
    z-index: 200;
}

#bottomlinks {
	padding-top: 30px;
}

    #bottomlinks li {
        background: transparent url(../img/icon_link.png) no-repeat 0px 2px;
        padding-left: 20px;
        padding-bottom: 6px;
    }


#bottomlinks li:hover {
	background:transparent url(../img/icon_link.png) no-repeat 2px 2px ;
	padding-left: 22px;
}


ul.bottomlinks li a {
	color: #ccc;	
}

ul.bottomlinks li a:hover {
	color: #fff;	
	cursor: pointer;
}

ul.bottomlinks li a {
	color: #ccc;	
}

ul.bottomlinks li a:hover {
	color: #fff;	
	cursor: pointer;
}

p, h1, h2, h3 {
    line-height: 1.5;
}
h1 {
    font-size: 48px;
}
.achievement h2 {
    margin-bottom: 40px;
}
h2 {
    font-size: 40px;
}
h4 {
    font-size: 20px;
}
.whoweare .sec-header {
    margin-bottom: 25px;
}
ul.intabs li {
    list-style: disc;
    margin-left: 20px;
    color: #959595;
}

