.vis-hidden {
  visibility: hidden; }

::-webkit-input-placeholder {
  color: #959595; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #959595; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595; }

:-ms-input-placeholder {
  color: #959595; }

body {
  font-family: "Raleway", sans-serif !important;
  /*font-family: 'Open Sans', sans-serif;*/
  /*color: #000000 !important;*/
  color:#686868!important;
  font-size: 16px !important;
  letter-spacing: .5px;
  /*font-weight: 300 !important;*/ 
}

i {
  color: #959595; }

p {
	font-family: "Raleway", sans-serif; 
	color: #959595;
}

body, html {
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 300; }

a {
	color: #3852a3; 
	font-weight: 500; }

  a i {
    color: #9e9e9e; }

  a i:hover {
    color: #333; }

  a:hover {
    color: #283a7c;
    text-decoration: none; 
	cursor: pointer;
}

input, textarea {
  font-weight: 300;
  font-style: italic; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

i {
  font-size: 24px;
  margin-right: 10px; }

p, h1, h2, h3 {
  line-height: 1.5; }
b{
    font-weight:bold !important;
}

h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 300 !important;
}
article {
  padding: 0px; }

img {
  display: block;
  width: 100%; }

#menu {
  width: 100%; }
  #menu nav {
    border: none;
    background: transparent;
    margin-bottom: 0px; }
    #menu nav.navbar {
      padding: 0px 0px;
      border-radius: 0; }
    #menu nav.navbar-fixed-top {
      background: #FFFFFF;
      border-bottom: 1px solid #ccc; }
    #menu nav a {
      color: #9e9e9e;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase; }

    #menu nav a:hover {
      color: #333;
      text-decoration:none;
	}

    #menu nav li {
      padding: 7px 0px 0px; }
      #menu nav li.active {
        border-top: 2px solid #000000;
        padding-top: 2px; 
		color: #AEAEAE;
		background-color:#F7F7F7;
		}
        #menu nav li.active a {
          background-color: transparent; }
		  
  #menu .navbar-header {
    margin: 5px 0px; }
  #menu .navbar-brand {
    padding: 12px 0px 0px 15px; }
    #menu .navbar-brand img {
      width: 200px;
      float: left;
      margin-top: -10px;
      margin-right: 10px; }
    #menu .navbar-brand span {
      float: left;
      display: block;
      font-size: 48px;
      font-weight: 300; }
    #menu .navbar-brand > li > a {
      line-height: 15px; }

@media all and (max-width: 767px) {
  #menu .nav a {
    color: #FFFFFF; }
  #menu .nav li.active {
    padding: 10px 0px;
    border-top: medium none; }
  #menu .navbar-brand {
    padding-left: 0px; }
    #menu .navbar-brand img {
      width: 200px;
      float: left;
      margin-top: -4px; }
    #menu .navbar-brand span {
      font-size: 35px; }
  #menu #menu-content {
    background: #393939; } }

@media all and (min-width: 768px) and (max-width: 991px) {
  #menu .navbar-brand span {
    display: none; }
  #menu .container {
    max-width: none;
    padding-right: 0px;
    padding-left: 0px; } }
footer {
  text-align: center;
  background: #393939;
  padding: 2px 0;
  color: #FFFFFF; }
  footer ul {
    display: inline-block; }
  footer li {
    float: left;
    margin-right: 10px; }
    footer li:last-child {
      margin-right: 0px; }
  footer .social-wrapper {
    text-align: center; }

.single footer a {
  color: #FFFFFF; }
  .single footer a i {
    color: #FFFFFF; }




ul.bottomlinks li a {
	color: #ccc;	
}

ul.bottomlinks li a:hover {
	color: #fff;	
	cursor: pointer;
}

#ld_back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: white; }
  #ld_back img {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%; }

html.js.csstransforms .feature .item {
  opacity: 0; }
  html.js.csstransforms .feature .item.ani-scale {
    opacity: 1; }
html.js.csstransforms .ani-scale {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }



.btn {
  background: #3851a3;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;

}

.btn:hover,
.btn:focus {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; 
	background: #283a7c;
	text-decoration: none;
	color: #fff;
	}


.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
	background-color: #283a7c;
	color: #fff;
	text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
}


.btn-header {
  color: #ffffff;
  text-transform:capitalize;
  font-size: 24px;
  font-weight:500;
  background-color: #3851a3;
  margin-top: 20px;
  padding: 10px 20px;
  line-height: 2.5em;
}

.btn-header:hover,
.btn-header:focus,
.btn-header:active,
.btn-header.active,
.open .dropdown-toggle.btn-header {
  color: #ffffff;
  background-color: #2b428c;
  text-decoration:none;
}

.btn-header:active,
.btn-header.active,
.open .dropdown-toggle.btn-header {
  background-image: none;
}



.flexslider {
  border: medium none;
  box-shadow: none;
  margin: 0px; }

.flex-direction-nav a {
  height: 45px; }
  .flex-direction-nav a.flex-prev {
    background-image: url(../img/arrowrleft.svg);
    background-repeat: no-repeat;
    background-color: white; }
    .flex-direction-nav a.flex-prev:before {
      content: ''; }
  .flex-direction-nav a.flex-next {
    background-image: url(../img/arrowright.svg);
    background-repeat: no-repeat;
    background-color: white; }
    .flex-direction-nav a.flex-next:before {
      content: ''; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

@media all and (max-width: 767px) {
  .flex-direction-nav {
    display: none; } }
.parallax {
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0;
  position: relative; }
  .parallax.active {
    background-attachment: fixed; }
  .parallax .container {
    padding: 90px 0px; }
  .parallax.empty .container {
    padding: 150px 0px; }

#para_ex {
  background-image: url("../img/background/tablet/02_Background_image_2.jpg"); }

div.light_rounded .pp_description, div.light_square .pp_description {
  margin-right: 0px; }

.pp_gallery img {
  width: 50px;
  display: inline; }

section {
  padding: 0px 0px 90px 0px; }
  section h2 {
    text-align: center;
    padding: 0px 0px 0px;
    text-transform: uppercase; 
	color: #fff;
	}
  section .sec-header .sub-title {
    text-align: center; }

section.no-padding {
  padding: 0px; }

section.alt {
  background: #393939;
  color: #FFFFFF; }
  section.alt i, section.alt p, section.alt h1, section.alt h2, section.alt h3, section.alt h4, section.alt h3.sub-title {
    color: #FFFFFF; }
  section.alt .sep {
    background: #FFFFFF; }

#map {
  background: url("http://themesjuice.com/track/newlinehtml/"); }

.sec-header {
  text-align: center;
  margin-bottom: 80px; }
/*  .sec-header i {
    color: #000000; } */  
	.sec-header h2 {
    margin: 40px 0 40px;
    font-size: 48px;
    line-height: 1.1; }
/*  .sec-header h3.sub-title {
    font-size: 16px;
    color: #959595;
    text-transform: uppercase;
    margin-top: 0px; }
  .sec-header .sep {
    height: 1px;
    margin: 0 auto 10px;
    display: block;
    width: 150px;
    background: #000000; } */

@media all and (max-width: 767px) {
  .sec-header {
    margin-bottom: 60px; } }
.head {
  position: relative;
  overflow: hidden; }
  .head .content-wrap {
    position: absolute;
    top: 0%;
    width: 50%;
	margin-left: 10%;
    height: 100%;
    text-align: left; 
}
    .head .content-wrap img {
      display: inline-block;
      max-width: 600px; }
    .head .content-wrap h1 {
      position: relative;
      top: 50%;
      margin-top: -1.2em;
	  font-weight:700 !important;
}
  .head h1, .head h2 {
    color: #FFFFFF; }
  .head h1 {
    font-size: 40px; }
    .head h1 span {
      padding: 0px 60px;
      border: 5px solid #FFFFFF; }
  .head h2 {
    font-size: 32px; }
  .head img.big-header {
    position: relative;
    /*width: auto;*/ }

   @media (max-width: 430px)and (orientation : portrait) {
        .head img.big-header {
            width: 650px;
        }
    }
    @media (max-width: 680px)and (orientation : landscape) {
        .head img.big-header {
            height: 650px;
        }
    }
     @media (max-width: 767px)and (orientation : landscape) {
        .head img.big-header {
            height: 680px;
        }
    }
  .head .hint, .head .background {
    position: absolute;
    bottom: 0px;
    width: 100%; }
  .head .hint {
    text-align: center;
    padding: 10px 0px;
    z-index: 101; }
    .head .hint img {
      width: auto;
      display: inline-block; }
  .head .background {
    height: 44px;
    opacity: 0.7;
    z-index: 100; }

@media all and (max-width: 767px) {

    .head .content-wrap h1 {
      top: 35%;
}

  .head h1 {
    font-size: 30px; }
    .head h1 span {
      border: 2px solid #FFFFFF;
      padding: 0 20px; }
  .head h2 {
    font-size: 24px; } 
}


@media all and (min-width: 768px) and (max-width: 991px) {

    .head .content-wrap h1 {
      top: 40%;
}

  .head h1 {
    font-size: 36px; }
  .head h2 {
    font-size: 30px; } }
.modal-dialog {
  max-width: 768px;
  width: auto; }

.modal-content {
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }


.collect .overlay, .collect .backdrop {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: center; }
.collect .backdrop {
  z-index: 100;
  background: black; }
.collect .overlay {
  z-index: 101;
  padding-top: 15%; }
.collect .item {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 2px; }
  .collect .item:hover .backdrop, .collect .item:hover .overlay {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    visibility: visible; }
  .collect .item:hover .backdrop {
    opacity: 0.7; }
  .collect .item:hover .overlay {
    opacity: 1; }

.lt-wrap-overlay {
  position: relative;
  padding: 0px;
  cursor: pointer; }
  .lt-wrap-overlay img {
    display: block;
    width: 100%; }
  .lt-wrap-overlay .lt-overlay {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 17% 10px 10px;
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%; }
    .lt-wrap-overlay .lt-overlay .title {
      text-transform: uppercase;
      margin-bottom: 20px; }
    .lt-wrap-overlay .lt-overlay .excerpt {
      margin-bottom: 30px; }
    .lt-wrap-overlay .lt-overlay .zoom {
      padding: 11px 10px 11px 9px;
      border-radius: 25px; }
  .lt-wrap-overlay:hover .lt-overlay {
    opacity: 1; }
  .lt-wrap-overlay:hover img {
    opacity: 0.3;
    box-shadow: #000 0em 0em 0em; }

.proj-nav {
  margin-bottom: 35px; }
  .proj-nav li {
    float: left;
    margin-right: 20px; }

@media all and (min-width: 768px) and (max-width: 991px) {
  .lt-wrap-overlay .lt-overlay .excerpt {
    display: none; } }
/*----------------------
/* Reset pretty photo
/*----------------------*/
.pp_content_container .pp_nav {
  width: 100%;
  float: inherit; }
.pp_content_container .pp-nav-wrapper {
  width: 60px;
  overflow: hidden;
  margin: 0 auto; }

.testimonial .individual {
  margin-bottom: 60px; }
  .testimonial .individual .item {
    text-align: center; }
  .testimonial .individual .indicate {
    position: relative;
    height: 1px;
    border-bottom: 1px solid #000000;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px; }
    .testimonial .individual .indicate:after, .testimonial .individual .indicate:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
	  
    .testimonial .individual .indicate:after {
      border-color: transparent;
      border-top-color: white;
      border-width: 12px;
      margin-left: -12px; }
    .testimonial .individual .indicate:before {
      border-color: transparent;
      border-top-color: #000000;
      border-width: 14px;
      margin-left: -14px; }
  .testimonial .individual .msg {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px; 
    /*color: #464646;*/
	}

  .testimonial .individual .avatar {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .testimonial .individual .name {
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
	}
  .testimonial .individual .date {
    color: #959595;
    font-weight: 400;
    margin: 0px;
    text-transform: uppercase; }
  /*.testimonial .individual .flex-control-nav {
    bottom: -30px; }*/
  .testimonial .individual .flex-control-paging li {
    border: 1px solid;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 1px; }
    .testimonial .individual .flex-control-paging li a {
      width: 5px;
      height: 5px;
      background: #FFFFFF;
      box-shadow: none; }
      .testimonial .individual .flex-control-paging li a.flex-active {
        background: #000000; }

@media all and (max-width: 767px) {
  .testimonial .individual .indicate {
    width: 100%; } }
.achievement {
  text-align: center; }
  .achievement .sec-header {
	  margin-bottom: 55px; 
	  background-color: #fecf58;
}  
	.achievement span {
    font-size: 30px; }
    .achievement span i {
      font-size: 30px; }
  .achievement .sep {
    height: 1px;
    margin: 10px auto;
    display: block;
    width: 130px;
    background: #000000; }

@media all and (max-width: 767px) {
  .achievement .item {
    margin-bottom: 70px; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .achievement span {
    font-size: 30px; } }
.pricing {
  text-align: center; }
  .pricing .item-wrapper {
    margin-bottom: 20px; }
    .pricing .item-wrapper li {
      color: #000000; }
      .pricing .item-wrapper li:first-child, .pricing .item-wrapper li:last-child {
        border-bottom: 1px solid #000000;
        padding: 15px; }
      .pricing .item-wrapper li:last-child {
        border-top: 1px solid #000000; }
      .pricing .item-wrapper li p {
        color: #000000; }
      .pricing .item-wrapper li i {
        background: #000000;
        padding: 10px;
        display: inline-block;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px; }
  .pricing article ul {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #FFFFFF;
    margin-top: 30px; }
  .pricing article li.feature {
    margin-bottom: 15px; }
  .pricing article li.last {
    margin-bottom: 60px; }
  .pricing article li.head p {
    font-size: 40px; }
  .pricing article.emphasize ul {
    margin-top: 0px; }
  .pricing article.emphasize li:first-child {
    padding-top: 40px; }
  .pricing article.emphasize li:last-child {
    padding-bottom: 40px; }
  .pricing .price {
    font-family: "Raleway", sans-serif;
    margin: 15px 0; }
    .pricing .price .unit {
      vertical-align: top;
      font-size: 26.66667px; }
    .pricing .price .tag {
      font-size: 40px; }

@media all and (max-width: 767px) {
  .pricing article ul {
    margin-top: 0px; } }
.team {
  text-align: center; }
  .team .social {
    float: left;
    width: 100px;
    text-align: left;
    margin-right: 15px; }
    .team .social li {
      float: left;
      width: 50%;
      text-align: center;
      background: #EFEEEF; }
      .team .social li a {
        padding: 10px 0px; }
      .team .social li:first-child {
        width: 100%;
        border-bottom: 1px solid #FFFFFF; }
        .team .social li:first-child i {
          font-size: 30px; }
      .team .social li:nth-child(2) {
        border-right: 1px solid #FFFFFF; }
    .team .social i {
      color: #000000;
      display: inline-block;
      margin-right: 0px;
      padding: 10px 0; }
  .team .info {
    float: left;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 0; }
  .team .pos {
    color: #959595;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left; }
  .team .name {
    text-align: left; }
  .headerdropdown .sec-header {
  margin-bottom: 55px; 
  background-color: #fecf58;
   }

  .headerdropdown .item i {
  float: left;
  display: inline-block;
  margin-top: 10px;
  font-size: 30px; }

.headerdropdown .item h3 {
  margin-bottom: 0px; }

.connect .sec-header {
  margin-bottom: 55px; 
  background-color: #fecf58;
   }
   
.collect .sec-header {
  margin-bottom: 55px; 
  background-color: #3852a3;
}

.testimonial .sec-header {
  margin-bottom: 55px; 
  background-color: #ec2031;
}

.connect .item i {
  float: left;
  display: inline-block;
  margin-top: 10px;
  font-size: 30px; }

.connect .item h3 {
  margin-bottom: 0px; }

.contact {
  padding-bottom: 0px; }

.contact .sec-header {
  margin-bottom: 55px; 
  background-color: #fecf58;
}
  .contact .con-wrap {
    color: #ccc;
    padding: 60px 0; }

    .contact .con-wrap h1, .contact .con-wrap h2, .contact .con-wrap h3, .contact .con-wrap h4 {
      color: #fff; }
    .contact .con-wrap p {
      color: #fff; }
    .contact .con-wrap i {
      color: #fff;
      font-size: 14px; }
    .contact .con-wrap h3 {
      margin-top: 0px;
      text-transform: uppercase;
      font-size: 16px; }
    .contact .con-wrap li {
      font-family: "Raleway", sans-serif; }
    .contact .con-wrap textarea, .contact .con-wrap input {
      width: 100%;
      border: 1px solid #000000;
      padding: 10px; }
    .contact .con-wrap textarea {
      margin-bottom: 10px;
      height: 160px; }
    .contact .con-wrap .btn {
      float: right; }
  .contact .item {
    margin-bottom: 20px; }
  .contact .sec-header {
    margin-bottom: 30px; }
  .contact input {
    margin-bottom: 15px; }

.blog .sec-header {
  margin-bottom: 90px; }
.blog .crd-info {
  background: #EFEEEF;
  padding: 5px 10px; }
  .blog .crd-info span {
    float: right; }
  .blog .crd-info .avatar img {
    display: inline-block;
    width: auto;
    height: 25px; }
  .blog .crd-info .date {
    margin-left: 10px;
    color: #000000;
    font-size: 18px; }
.blog h3 {
  margin: 0px; }
.blog a {
  color: #000000; }

@media all and (max-width: 767px) {
  .blog .item {
    margin-bottom: 20px; } }
.whoweare {
  text-align: center; 
  background-color: #464646;
  }
  .whoweare .sec-header {
    margin-bottom: 50px; }
  .whoweare h4 {
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 0px;
    line-height: 1.5; }

  @media all and (max-width: 767px) {
  .whoweare h4 {
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0px;
    line-height: 1.5; } }
  .whoweare i[data-toggle] {
    font-size: 48px;
    cursor: pointer; }

.map {
  position: relative; }
  .map #map_content, .map .backdrop {
    height: 300px; }
  .map .backdrop {
    position: absolute;
    bottom: 0px;
    background: #393939;
    opacity: 0.5;
    text-align: center;
    width: 100%;
    cursor: pointer; }
    .map .backdrop h3 {
      margin-top: 40px;
      color: #FFFFFF;
      text-transform: uppercase; }
  .map.show .backdrop {
    visibility: hidden; }
  .map.show #map_content {
    height: 300px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

#overlay {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center; }
  #overlay:before {
    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    height: 100%; }
  #overlay img {
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */ }



/**
 * --------------------------------------------------------------
 * FORM
 * --------------------------------------------------------------
 */

.form div {
  padding: 0px 40px 10px 0px;
}

.form input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
}


.smk_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
  border: 1px solid #ccc;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
	position: relative;
	background: #FDFDFD;
	padding: 10px;
	font-size: 24px;
	font-weight: 500;
	color: #898989;
	display: block;
	cursor: pointer;
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(../img/plusminus.png) center 0;
}
    .smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
        background: url(../img/plusminus.png) center -18px;
    }
    .smk_accordion .accordion_in.acc_active > .acc_content {
    display: block;
}
        .smk_accordion .accordion_in > .acc_content {
    display: block;
}
        div.item.show {
    opacity: 1;
    max-height: 1500px;  
}
.acc_head:hover {
	color: #456768;
}


/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
  color: #464646;
  padding: 3px 10px;
}

.acc_content p {
  padding: 10px 30px 0px 0px;
}

.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 3px 3px 0 0;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 3px 3px;
}

.smk_accordion .accordion_in.acc_active > .acc_head {
  background: #f6f6f6;
  border-bottom: 1px solid #f2f2f2;
}

.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
  padding-left: 40px;
}
.custom-jumbotron{
    padding:5px;
    color: inherit;
    background-color: #eeeeee;
    border-radius: 6px;
}
.custom-payment {
    padding: 12px;
    color: inherit;
    background-color: #f9f9f9;
    /*border-radius: 6px;*/
    font-size:13px;
    border: 1px solid #ddd;
}
.white-color{
    color:#FFFFFF;
}
.invalid {
    border-color: #FF0000 !important;
    border-width: 1px !important;
}
.validationmessage {
    margin: 5px;
    padding: 10px;
    height: 22px !important;
    color: #FF0000;
}

/**
 * --------------------------------------------------------------
 * Inner Page Header
 * --------------------------------------------------------------
 */
.connect .sec-inner-header {
  margin-bottom: 20px; 
  background-color: #3852a3;  
}
   
.collect .sec-header {
  margin-bottom: 55px; 
  background-color: #3852a3;
}

.testimonial .sec-header {
  margin-bottom: 55px; 
  background-color: #ec2031;
}

.sec-inner-header h2 {
    margin: 30px 0 30px;
    /*font-size: 48px;*/
    line-height: 1.1;
}


.bg-primary-bold{
    font-weight:bold;
}


.btn, .btn-primary, .form-control{
    border-radius:3px !important;
   -webkit-border-radius:3px;
   -moz-border-radius: 3px;
    /*height: calc(2.5rem - 2px);*/ /*based on select option*/
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.5rem - 2px);
    line-height: 28px;
     padding: 6px 12px;
}
 li.dropdown-dark .dropdown-menu {
    background: #E7E7E7;
    border: 0;
}

 li .dropdown-menu li.divider {
  background-color: #606d7d;
}

li.dropdown-dark .dropdown-menu:after {
    border-left: none;
    border-right: none;
    position: absolute;
    top: -8px;
    right: 19px;
    border-right: 8px solid rgba(0, 0, 0, 0.01);
    border-bottom: 8px solid #242222;
    border-left: 8px solid rgba(0, 0, 0, 0);
    content: '';
}

li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
    background-color:#b3b3b3;
    text-decoration:none;
}
.navbar-collapse {
    overflow-x:hidden !important;
}
.custom-errorlist{
    font-size:13px;
    font-weight:bold;
    color:#ff0000;
    padding-left:10px;
    margin-bottom: 1px !important;
}
.one-per-line    label {display:block;}
.many-per-line   label {display:inline-block;}
.indented   span.label-text {display:inline-block;}
.unindented span.label-text {display:inline;}

.Width100perc {
    width: 100% !important;
}

.custom-jumbotronwhitebackground{
    padding:5px;
    color: inherit;
    background-color: #FFFFFF;
    border-radius: 6px;
}

/*.fieldgroup{
   float: left;
   width: auto;
   margin-left: 3em;
}*/


.radiobtninput{
   margin-bottom: 2px !important;
}

/*Style from Login*/
.panel-group .panel-heading + .panel-collapse > .panel-body {
        border: 1px solid #ddd;
    }

    .panel-group,
    .panel-group .panel,
    .panel-group .panel-heading,
    .panel-group .panel-heading a,
    .panel-group .panel-title,
    .panel-group .panel-title a,
    .panel-group .panel-body,
    .panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
        border-radius: 2px;
        border: 0;
    }

        .panel-group .panel-heading {
            padding: 0;
        }

            .panel-group .panel-heading a {
                display: block;
                /*background: #668bb1;*/
                background:#f6f6f6;
                padding: 15px 15px 15px 50px;
                text-decoration: none;
                position: relative;
            }

                .panel-group .panel-heading a.collapsed {
                    background: #eeeeee;
                    color: inherit;
                }

                .panel-group .panel-heading a:before {
                    content: url('../img/arrow1.png');
                    position: absolute;
                    left: 15px;
                    top: 5px;
                    font-size: 30px;
                }

                /*.panel-group .panel-heading a:before {
                    content: '-';
                    position: relative;
                    right: 10px;
                    bottom: 8px;
                    font-size: 30px;
                    float: left;
                }*/

                .panel-group .panel-heading a.collapsed:before {
                    content: url('../img/arrow2.png');
                }

        .panel-group .panel-collapse {
            margin-top: 5px !important;
        }

        .panel-group .panel-body {
            background: #ffffff;
            padding: 15px;
        }

        .panel-group .panel {
            background-color: transparent;
        }

        /*.panel-group .panel-body p:last-child,
        .panel-group .panel-body ul:last-child,
        .panel-group .panel-body ol:last-child {
            margin-bottom: 0;
        }*/

    body {
	background: #e6e6e6;
}
/* Custom Checkbox style */

.control {
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 0px;
	left: 0;
	width: 18px;
	height: 18px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #2aa1c0;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #2aa1c0;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

/*.table-bordered {
    border: 2px groove #eceeef !important;
}*/

.button-align{
     padding-right: 0px !important;
    padding-left: 0px !important;
}
.pagination {
    margin-bottom: -35px!important;
    margin-top: 5px!important;
    height: 75px!important;
}
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.panel-bank {
    padding-top: 10px; 
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.wrap_text{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.input-group-addon {
        padding: 6px 12px !important;
        line-height: 0 !important;       
    }

    .flex-container{
	    margin: 0 auto;
	    display: -webkit-flex; /* Safari */		
	    display: flex; /* Standard syntax */

        justify-content: space-around;
        align-items: stretch;
        flex-wrap:wrap;
    }
    .flex-container .column{
	    /*background: #dbdfe5;*/
	    /*-webkit-flex: 1;*/ /* Safari */
	    /*-ms-flex: 1;*/ /* IE 10 */
	    /*flex: 1;*/ /* Standard syntax */
    }
    .flex-container .column.bg-alt{
	    background: #b4bac0;
    }

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration:none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    text-decoration:none;
}


.vertically-centered {
    height: 256px;
}

.vertically-centered:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.gallery {
     /*width:250px;*/
     height:50px;
     position: relative;
	 padding: 0;
	 margin: 0;
	 text-align: center;
}

.gallery-image{
    cursor:pointer;
	position: relative;
	display: block;
    float:right;
}

.gallery-text{	   
	height: 50px; 
	text-align: right;	   
    vertical-align:middle;
    line-height:50px;
}

.input-small-time{
    width: 180px !important;
}

.i-override {
    font-size: 18px!important;
    margin-right: 0px!important;
}

.remove-margin-bottom{
    margin-bottom: 0px!important;
}

/**
 * --------------------------------------------------------------
 * Inner Page Header Menu
 * --------------------------------------------------------------
 */
.connect .sec-inner-header-menu {
  margin-bottom: 24px; /*20-24*/
  background-color: #F5F5F5;  
}

.menu-text-icon{
    background-color:#3852a3; padding:0px 8px; color:white;
}

.menu-right-text-condent{
    text-align: right;
    font-size: 12px!important;
    line-height: 16px;
    vertical-align: middle;
    padding-top: 4px;
}






.panel-body {
    padding: 15px;
}

.block {
    display: block;
}

.text-muted {
    color: #98a6ad;
}
.m-b {
    margin-bottom: 15px;
}

.m-t {
    margin-top: 15px;
}

.inline {
    display: inline-block!important;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.bg-account{
    background-color: #f5f5f5 !important;
}

.padder-v {
    padding: 5px;
    /*padding-bottom: 5px;*/
}
.block {
    display: block;
}

.item {
    position: relative;
}
.panel {
    border-radius: 0px;
}
.panel {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.font-thin {
    font-weight: 300;
}
.block {
    display: block;
}
.text-white {
    color: #fff;
}
.text-muted {
    color: #9B9B9B!important;
}
.text-xs {
    font-size: 13px;
}
.item .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.w-full {
    width: 100%;
}
.text-right {
    text-align: right;
}
.padding-zero{
    padding:0!important;
}
.margin-zero{
    margin:0!important;
}
.text-align-center{
    text-align: center;
}
.outstanding-amount{
    font-size:20px;
}
.bg-payment{
    background-color: #48A139 !important;
}
.make-payment{
    font-size:12px;
    color:#fff!important;
}
a.make-payment:hover{
    text-decoration:none;
}
.bg-breakdown{
    background-color: #3650A5 !important;
}
@font-face{
    font-family:sansFontBold;
    src:url(Font/OpenSans-Bold.ttf);
}

div.sansBoldFont{
    font-family:sansFontBold;
}
div.horizontalRule
{
    clear:both;
    width:100%;
    background-color:#d1d1d1;
    height:1px;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 15px;
    padding-left: 15px;
}
div.horizontalPaymentRule
{
    clear:both;
    width:50%;
    background-color:#d1d1d1;
    height:1px;
    margin-top:10px;
    /*margin-bottom:10px;*/
    padding-right: 15px;
    padding-left: 20px;
}

div.horizontalRuleProfile
{
    clear:both;
    width:58%;
    background-color:#d1d1d1;
    height:1px;
    margin-top:3px;
    /*margin-bottom:3px;*/
    padding-right: 15px;
    padding-left: 15px;
}

/*.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}*/
.bg-update{
    background-color: #2C407F !important;
}
.bg-update-red{
    background-color: #af1b1f !important;
}

.float-left{
    float:left!important;
}
.float-right{
    float:right!important;
}
.badge {
    /*background: radial-gradient( 5px -9px, circle, white 8%, red 26px );*/
    background-color: red;
    /*border: 2px solid white;*/
    /*border-radius: 12px;*/ /* one half of ( (border * 2) + height + padding ) */
    /*box-shadow: 1px 1px 1px black;*/
    color: white;
    /*font: bold 15px/13px Helvetica, Verdana, Tahoma;*/
    height: 20px; 
    min-width: 14px;
    border-radius:50% !important ;
    /*padding: 4px 3px 0 3px;*/
    text-align: center;
}
.profilebadge {
    /*background: radial-gradient( 5px -9px, circle, white 8%, red 26px );*/
    background-color: silver;
    /*border: 2px solid white;*/
    /*border-radius: 12px;*/ /* one half of ( (border * 2) + height + padding ) */
    /*box-shadow: 1px 1px 1px black;*/
    color: white;
    /*font: bold 15px/13px Helvetica, Verdana, Tahoma;*/
    /*height: 16px; */
    min-width: 14px;
    
    border-radius:100% !important ;
    /*padding: 4px 3px 0 3px;*/
    text-align: center;
   padding-top:15px;
   padding-right:15px;
   padding-bottom:15px;
   padding-left:15px;
   font-size:14px;
   font-weight:500;
   text-transform:uppercase;
   margin-bottom:5px;
   margin-left:5px;
   margin-right:5px;
   margin-top:5px;
}
.center {
     margin: 0 auto;
     width: 50%;
} 
.float-none{
    float:none!important;
}
.vertical-align-bottom{
    vertical-align:bottom!important;
}
.clear-both{
    clear:both;
}
.upper-case {
    text-transform: uppercase;
}

.lower-case {
    text-transform: lowercase;
}

 p.capitalize {
    text-transform: capitalize;
} 
.profile-div-vertical-align{
    height: 38px;
    line-height: 38px;   
    vertical-align: middle;
}
.row-padding-5px{
    padding:5px;
}
.row-padding-10px{
    padding:5px 10px;
}
.left-right-padding-7px{
    padding-right: 7px!important;
    padding-left: 7px!important;
}
.font-weight{
    font-weight:700 !important;
}
.font-weight-bold{
    font-weight:bold!important;
}
.font-size-14px{
    font-size:14px !important;
}
.i-font-sizecolor{
    font-size:17px !important;
    color:#FFC756 !important;
}
.label-margin-bottom-0px{
    margin-bottom:0px !important;
}
.label-margin-left-2-5em{
    margin-left: -2.5em !important;
    margin-top: 0.5em !important;
}
.panel-boby-payment-message{
    border-radius:14px !important;
    padding:0px !important;
    background-color: #4CA140 !important;
    color: white !important;
    width: 290px !important;
}
.row-col-xs-padding{
    text-align:center !important;
    padding-top: 15px !important;
}

.label-margin-left-2-2em{
    margin-left: -2.2em !important;
    margin-top: 0.5em !important;
}
.img-40px{
    height:40px !important;
    width:40px !important;
}
.padding-0px-left-right{
    padding-right: 0px !important;
    padding-left :0px !important;
}
.padding-0px-left{
    padding-left :0px !important;
}
.modal-body-hegiht{
    height:174px !important;
}
.modal-title-align-center{
    text-align:center !important;
    color:white !important;
    font-weight:600 !important;
}
.button-close{
    opacity:1.2 !important;
    color:white !important;
}
.modal-header-backgroundcolor{
    background-color:#3852a3 !important;
}
.row-left-padding-5px{
    padding-left:5px !important;
}
.row-left-padding-10px{
    padding-left:10px !important;
}

.left-margin-10px{
    margin-left:-10px !important;
}

.padding-left-5px{
    padding-left: 5px !important;
}
.padding-left-10px{
    padding-left: 10px !important;
}
.padding-left-7px{
    padding-left: 7px !important;
}
.text-align-left{
    text-align:left;
}
.font-size-larger{
    font-size:larger;
}

.profile-update-btn-row-style{
    background-color: #E9E9E9;
    height: 50px;
    margin-top: 5px;
    position: relative;
    clear: both;
}
.border-radius-2px{
    border-radius:2px!important;
}
.font-italic {
    font-style: italic;
}

.circle-badge {
  height: 75px;
  width: 75px;
  line-height:60px;
  text-align: center;
  border-radius: 50px;
  background: #B07D52;
  color:white;
  /*margin-left:auto;
  margin-right:auto;*/
}

.bronze{
    background:#B07D52!important;
}
.silver{
    background:#ADAEB0!important;
}
.gold{
    background:#EEC255!important;
}
.platinum{
    background:#7D8588!important;
}
.bronze-color{
    color:#B07D52!important;
}
.silver-color{
    color:#ADAEB0!important;
}
.gold-color{
    color:#EEC255!important;
}
.platinum-color{
    color:#7D8588!important;
}
.font-size-18px{
    font-size:18px!important;
}


/*Start Styles. Move the 'style' tags and everything between them to between the 'head' tags*/ 
.myOtherTable {
    background-color: #F5F5F5;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

.myOtherTable th {
    background-color: #3650A5;
    color: white;
    border-bottom: 3px solid #fff;
}

.myOtherTable td, .myOtherTable th {
    padding: 5px;
    border: 0;
}

.myOtherTable td {
    border-bottom: 3px solid #fff;
}

.badge points {
    /*background: radial-gradient( 5px -9px, circle, white 8%, red 26px );*/
    background-color: blue;
    /*border: 2px solid white;*/
    /*border-radius: 12px;*/ /* one half of ( (border * 2) + height + padding ) */
    /*box-shadow: 1px 1px 1px black;*/
    color: white;
    /*font: bold 15px/13px Helvetica, Verdana, Tahoma;*/
    /*height: 16px; */
    min-width: 14px;
    border-radius:50% !important ;
    /*padding: 4px 3px 0 3px;*/
    text-align: center;
}
/*End Styles*/




div.bg-payment:hover{
    background-color: #377A2B!important;
    text-decoration:none;
}

div.bg-breakdown:hover{
    background-color: #2D427D!important;
    text-decoration:none;
}

@font-face {
  font-family: 'Open Sans';
  /*src: local('Times New Roman');*/
  unicode-range: U+0030-0039;
}

.font-famil-open-sans-numbers{
    font-family: 'Open Sans', sans-serif!important;
}

.cursor-pointer{
    cursor: default !important;
}

