﻿<div style="height:77px"></div>

<div class="container">

    <div class="panel-group">

        <div class="panel panel-success" ng-show="vm.isActivated">
            <div class="panel-heading">Success</div>
            <div class="panel-body">
            <p>It’s great to have you on our system!</p>
            <p>You have successfully been registered, welcome to the Home-Connect homies Click <a ui-sref="login()">here</a> to Login</p></div>

        </div>



        <div class="panel panel-warning" ng-show="!vm.isActivated">
            <div class="panel-heading">Warning</div>
            <div class="panel-body">Account was already activated</div>
        </div>

    </div>
</div>


