﻿
<div id="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" ng-hide="layoutHeaderChanges == null" class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../theme/img/background/Logo.png">
                </a>
            </div>
            <a href="javascript:;" class="menu-toggler"></a>
            <div class="collapse navbar-collapse" id="menu-content">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" data-ng-click="vm.click('head');">Home</a></li>
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="" data-ng-click="vm.click('collect');">Collect</a></li>
                    <li><a href="" data-ng-click="vm.click('testimonial');">Celebrate</a></li>
                    <li><a href="" data-ng-click="vm.click('contact');">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<section id="collect" class="collect">
    <div class="container">
        <h3>NuDebt achieves Level 1 BEE rating</h3>
        <div class="row">
            <div class="col-sm-6">
                <p>NuDebt Management (Pty) Ltd (hereinafter referred to as “NuDebt”) has improved its Level 3 BBBEE rating for the year of 2011 to an outstanding Level 1 BBBEE. An independent firm measured NuDebt in terms of the BBBEE Act Codes of Good Conduct.</p>
                <p>NuDebt is committed to Broad Based Black Economic Empowerment (BBBEE) as laid out in the DTi’s Code of Good Practice on Black Economic Empowerment.</p>
                <p>This improvement in BEE status, from the previous Level 3 rating in 2011, reflects NuDebt’s commitment to South Africanise the company. Pres Zuma said: “We need black economic empowerment to address the monopoly domination of our economy, which remains an obstacle to the goals of economic transformation, growth and development”. </p>
            </div>
            <div class="col-sm-6">
                <p>As a responsible corporate citizen, NuDebt supports the government’s quest to redress past imbalances and ensure broader participation of black people in the economy, in order to achieve sustainable development and grow each member of South Africa to their full potential.</p>

                <p>The Level 1 rating adds tremendous value to NuDebt, as BEE compliance is important to all our clients when choosing a business partner or supplier. Being a Level 1 contributor means that our clients can claim 135% of all invoices generated by NuDebt for BBBEE procurement.</p>
                <p>NuDebt remains committed to black economic empowerment through its corporate social investment, skills development and enterprise development initiatives in 2012.</p>
            </div>

        </div>
    </div>
</section>

<section class="parallax empty alt" style="background-image: url('image/background/grey-banner-01.jpg')">
    <div class="container">
        <h1>
            We have produced <br />
            <b>the NuDebt Collection Solution </b><br />
            specifically for organisations like yours
        </h1>
    </div>
</section>

<section id="bottomlinks" class="collect alt">
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-sm-4 item" id="menu-footer">
                <h4>Quick links</h4>
                <ul class="bottomlinks">
                    <li><a href="" data-ng-click="vm.click('head');">Home</a></li>
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="" data-ng-click="vm.click('collect');">Collect</a></li>
                    <li><a href="" data-ng-click="vm.click('testimonial');">Celebrate</a></li>
                    <li><a href="" data-ng-click="vm.click('contact');">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4 item">
                <h4>Legal</h4>
                <ul class="bottomlinks">
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="app/login/privacy.html">Site Privacy</a></li>
                    <li><a href="app/Template/NuDebt Tearms And Conditions.pdf" target="_blank">Terms and conditions</a></li>
                    <li><a href="" ui-sref="dashboard.bee">BBBEE Rating</a></li>
                </ul>
            </div>
            <div class="col-sm-4 item">
                <h4>NuDebt is a proud member of:</h4>
                <ul class="bottomlinks">
                    <li><a href="https://adra.org/" target="_blank">ADRA</a></li>
                    <li><a href="http://cfdc.org.za/" target="_blank">Council of Debt Collectors</a></li>
                    <li><a href="http://www.cpasa.tv" target="_blank">CPA</a></li>
                    <li><a href="http://www.pasa.org.za/" target="_blank">PASA</a></li>
                </ul>
            </div>

        </div>

    </div>
</section>

<div id="ld_back">
    <img src="image/background/loading.gif" />
</div>

<link href="theme/css/loginstyle.css" rel="stylesheet" />
<script src="theme/vendor/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="theme/vendor/imagesloaded.pkgd.min.js"></script>
<script src="theme/js/main.js"></script>

<style>
    section {
        padding: 0px !important;
    }

    .page-header {
        padding-bottom: 0px !important;
        margin: 0px 0px 0px 0px !important;
        border-bottom: none !important;
    }
</style>
