﻿<div class="container">
    <br />
    <div class="row">
        <center>
            <div class="col-md-12">
                <div class="col-md-4">
                    <a ui-sref="dashboard.paymentlog">Payment Log</a>
                </div>
                <div class="col-md-4">
                    <a ui-sref="dashboard.notification">Notification</a>
                </div>
                <div class="col-md-4">
                    <a ui-sref="dashboard.powerBiDashboard">Dashboard</a>
                    
                </div>
            </div>
        </center>
        <div class="row col-md-12" style="margin:10px 0px 10px 0px">
            <div class="col-md-1"></div>
            <div class="col-md-4" style="margin-left:25px">
                <a class="btn btn-primary btn-group-sm" ui-sref="login">back</a>
            </div>
        </div>
    </div>
</div>
