﻿<header id="head" class="head no-padding">

    <img class="hidden-xs big-header" src="theme/img/background/a.jpg">
    <img class="visible-xs big-header" src="theme/img/background/a_phone.jpg">
    <div class="content-wrap">
        <h1>
            Get rewarded for paying your debt through our payment portal.
            <br /> <a class="btn-header" href="#connect">PAY NOW</a>
        </h1>

    </div>

    <div class="background"></div>
</header>

<section id="whoweare" class="alt whoweare">
    <div class="container">

        <div class="row sec-header">
            <div class="text-md-center text-xs-center">
                <h2>Who we are</h2>
            </div>
        </div>

        <div class="row">
            <div class="text-md-center text-xs-center">
                <h4>NuDebt is a thriving, preferred debt collection and payment solutions company in South Africa. We strive to work harder and smarter.</h4>
                <!-- <i class="arrow_triangle-right_alt2" data-toggle="modal" id="playVideo"></i>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="ccc-icon i-connect" href="#connect"></a>
                <h3>Connect</h3>
            </div>
            <div class="col-sm-4">
                <a class="ccc-icon i-collect" href="#collect"></a>
                <h3>Collect</h3>
            </div>
            <div class="col-sm-4">
                <a class="ccc-icon i-celebrate" href="#testimonial"></a>
                <h3>Celebrate</h3>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <iframe id="vid" width="420" height="315" src="//www.youtube.com/embed/NYG7WvME8FI?enablejsapi=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" id="myModalClose" class="btn" data-dismiss="modal"  >Close</button>
                </div>
            </div>
        </div>
    </div>-->
</section>

<section id="connect" class="connect">
    <div class="row sec-header">
        <div class="text-md-center text-xs-center">
            <h2>Pay Now</h2>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-5 item">
                <!--<div class="container">-->
                <div id="loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Welcome to DC Debtor Enquiry</div>
                        </div>
                        <div style="padding-top:30px" class="panel-body">
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                            <form class="form-horizontal" name="loginForm" novalidate ng-submit="vm.login(vm.credentials, loginForm)">
                                <div class="custom-jumbotronwhitebackground">
                                    <div class="form-group" show-errors>
                                        <div class="col-md-5">
                                            <label>Matter Number</label>
                                        </div>
                                        <div class="col-md-7 pull-left">
                                            <input id="login-username" type="text" class="form-control"  name="matternumber" ng-model="vm.credentials.matternumber" placeholder="Matter Number" required>
                                            <!--ng-pattern="/^[0-9]{1,15}$/"-->
                                            <!--<span class="text-danger" ng-show="loginForm.matternumber.$error.pattern">Please enter number!</span>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="custom-jumbotron">
                                    <div class="form-group" show-errors>
                                        <div class="col-md-5">
                                            <input class="radio-inline radiobtninput" type="radio" name="cellNumber" ng-checked="vm.isCheck" ng-click="vm.radioCellNoChange(1)">
                                            <label>Cell Number</label>
                                        </div>
                                        <div class="col-md-7 pull-left">
                                            <input id="login-username" ng-disabled="!vm.isCheck" type="text" ng-pattern="/^[0-9]{1,15}$/" class="form-control" name="cellnumber" ng-model="vm.credentials.cellnumber" ng-required="vm.isCheck" placeholder="Cell Number">

                                            <span class="text-danger" ng-show="loginForm.cellnumber.$error.pattern">please enter number!</span>

                                        </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <div class="col-md-5">
                                            <input class="radio-inline radiobtninput" type="radio" name="idNumber" ng-checked="!vm.isCheck" ng-click="vm.radioCellNoChange(2)">
                                            <label>ID Number</label>
                                        </div>
                                        <div class="col-md-7 pull-left">
                                            <input id="login-username" ng-disabled="vm.isCheck" type="text" class="form-control" name="idnumber" ng-model="vm.credentials.idnumber" ng-required="!vm.isCheck" placeholder="ID Number">
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:10px" class="form-group">
                                    <div class="col-md-4">
                                        <input class="btn btn-primary" type="submit" value="Sign In">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>

            <div class="col-sm-4 item">
                <div class=""><h3>Pay your account online</h3></div>
                <p>NuDebt makes paying your debt a no-brainer. Simply login to your profile,check your outstanding payments and pay. We give you a host of different ways to pay and, what's more is, we even <b>reward you</b> for continuous successful payments.login to our Debtor payment portal using the details sent to you via SMS.</p>
            </div>


            <div class="col-sm-3 item">
                <div class="">
                    <h3>Lost Details</h3>
                </div>
                <p>If you've lost the details please email us on <a href="//www.nudebt.co.za">info@nudebt.co.za</a> with your cellphone number and company that you owe. You will then receive an SMS with your Debtor ID and Password to view your accounts outstanding at NuDebt Management (Pty) Ltd.</p>
            </div>
        </div>

    </div>
</section>

<section class="parallax empty alt active" style="background-image: url('image/background/grey-banner-01.jpg');">
    <div class="container">
        <div class="icontop"><img width="150" height="150" alt="" src="theme/img/nd_icon.png"></div>
        <h1>
            We have produced <br>
            <b>the NuDebt Collection Solution </b><br>
            specifically for organisations like yours
        </h1>
    </div>
</section>

<section id="collect" class="collect">
    <div class="row sec-header">
        <div class="text-md-center text-xs-center">
            <h2>Collect</h2>
        </div>
    </div>

    <div class="container form-group">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    At NuDebt Management we aim to connect, collect and celebrate. We realize that meeting collection targets without alienating clients, proactively securing payment commitments and actually collecting the cash on the expected date are all difficult to achieve.
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    NuDebt Management has combined professional practice with cutting edge technology to provide an innovative debt collection and management service in which our clients have experienced improvements in their collections from 30% to 300%!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-sm-12 item form-group">
                    <div class="">
                        <h3>Our services</h3>
                    </div>
                    <div class="">
                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="">Debt Collection</span>
                                        </a>
                                    </h4>
                                </div><!--/.panel-heading -->
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-6">
                                            <p>The service draws together the expertise of several lawyers, auditors, debt collectors, IT experts, and payment solution specialists, and is complemented by substantial investment in training and cutting edge technology. The integration of these resources and capabilities means that we are able to provide innovative credit life cycle enhancements, supported by proactive debt management and effective debt collection services of the highest quality at economical rates.</p>

                                            <p>NuDebt has a consumer database of 22 million ID numbers, which constitutes all economically active people in South Africa, and which is regularly updated. We have a company database of 6 million company registration numbers in South Africa. This allows us to wash all collection data upon receipt. This ensures that NuDebt has the latest telephone and contact details of debtors. NuDebt does not profile the debtors at this stage as no action has been taken.</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>After the data has been updated it is uploaded into our debt collection software. Once the upload has been successful, each team leader has allocated matters to work on which he/she delegates to a team of 12 agents. A procedure is then followed by the agents in conjunction with the team leader, (who is always there to assist, coach and mentor agents) in ensuring the right processes and actions are followed to collect outstanding accounts.</p>
                                        </div>
                                    </div><!--/.panel-body -->
                                </div><!--/.panel-collapse -->
                            </div><!-- /.panel -->




                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Debit Orders
                                        </a>
                                    </h4>
                                </div><!--/.panel-heading -->
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-6">

                                            <h4>Basic functionality</h4>
                                            <p>NuDebt developed a unique web based debit order system.The debit order system provides approved participating entities access to all Banks and their subsidiaries in the South Africa. The basic functionality enables the user of the system to generate a debit order payment instruction on authorisation from NuDebt.</p>

                                            <h5>The types of accounts that can be debited are:</h5>
                                            <ul class="intabs">
                                                <li>Current account</li>
                                                <li>Savings account</li>
                                                <li>Transmission account</li>
                                                <li>Credit card account</li>
                                            </ul>
                                            <p>NuDebt is web based which enables the user to optimally manage their debit order book at any time. These are various service types within the system to address a customer's EFT needs. </p>

                                        </div>


                                        <div class="col-sm-6">
                                            <h4>Key features</h4>
                                            <ul class="intabs">
                                                <li>Transaction warehousing - Central database</li>
                                                <li>Transactions with variable dates</li>
                                                <li>Payment instructions with multiple instalments</li>
                                                <li>Web based reporting</li>
                                                <li>The web based reports enable the user to track the progress of the transaction through the following stages:</li>
                                                <li>Transactions submitted by the client to the financial institutions</li>
                                                <li>Future transactions to be submitted by the client to the financial institutions</li>
                                                <li>Successful transactions</li>
                                                <li>Failed transactions</li>
                                                <li>Cancelled transactions</li>
                                                <li>It is a valuable means to forecast and manage exceptions</li>
                                            </ul>
                                        </div>

                                    </div><!--/.panel-body -->
                                </div><!--/.panel-collapse -->
                            </div><!-- /.panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            Account Holder Verification (AHV)
                                        </a>
                                    </h4>
                                </div><!--/.panel-heading -->
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-6">

                                            <p>Account holder verification is a confirmation process which is used to verify the banking details against the said bank account holder. This is an electronic service we use to connect to all major banks in South Africa</p>

                                            <h5>AHV can verify:</h5>
                                            <ul class="intabs">
                                                <li>Bank Account Number</li>
                                                <li>ID Number</li>
                                                <li>Surname</li>
                                                <li>Initials</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">

                                            <h5>The following benefits can be achieved:</h5>
                                            <ul class="intabs">
                                                <li>Reduced failed payments risks</li>
                                                <li>Fraud identified</li>
                                                <li>Account validated before submission for payment</li>
                                                <li>Reduces non-payments</li>
                                            </ul>


                                            <p>AHV can be used before debitorder runs, "Sniffer" service and the collection process. Clients will receive daily and monthly AHV reports and statistics.</p>
                                        </div>
                                    </div><!--/.panel-body -->
                                </div><!--/.panel-collapse -->
                            </div><!-- /.panel -->


                            <div class="panel panel-default form-group">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            NAEDO
                                        </a>
                                    </h4>
                                </div><!--/.panel-heading -->
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-6">
                                            <p>NAEDO service is collection tool that was started in 2008. There is nothing like it in the market and it is definitely the best collection tool that NuDebt has to offer. The NAEDO service unparalleled performance compared to conventional debt collection speaks for itself. NuDebt can collect up to 80% of the client's outstanding debtor's book in 7 days. A NAEDO is a payment instruction that is presented multiple times per day over a defined tracking period until sufficient funds are available. The service is used on all failed debit order clients prior to the call centre collection process and once the Account Holder Verification (AHV) process has been completed. NuDebt is able to process payment instructions on any date. We suggest that we jointly select an account-tracking period for the presentation of the NAEDO payment instruction.</p>

                                        </div>
                                        <div class="col-sm-6">

                                            <p>
                                                The NAEDO service has the following tracking days: </br>
                                                3, 4, 7, 14, 21, and 32 days
                                            </p>

                                            <h5>The types of accounts that can be debited are:</h5>
                                            <ul class="intabs">
                                                <li>Current account</li>
                                                <li>Savings account</li>
                                                <li>Transmission account</li>
                                            </ul>
                                            <p>
                                                NuDebt is obliged to submit these payment instructions two days before run date to enable BankServ to process the debits on time. NuDebt sends reminders to its clients to ensure we receive the data on time for submission.

                                                Should the account return to NuDebt as unpaid or disputed the matters can be electronically diverted to the call centre for collection.
                                            </p>
                                        </div>
                                    </div><!--/.panel-body -->
                                </div><!--/.panel-collapse -->
                            </div><!-- /.panel -->
                        </div><!-- /.panel-group -->

                    </div><!-- /.container -->

                </div>




            </div>
        </div>


    </div>
    <div class="container"><a href="#contact" class="btn btn-lg goLink" style="background-color:red;">Start collecting now</a></div>
</section>

<section class="parallax empty alt active" style="background-image: url('image/background/connect-banner.jpg')">
    <div class="container">
        <h1><b>Make collecting outstanding amounts as easy</b> as putting money into a piggy bank</h1>
    </div>
</section>

<section id="testimonial" class="testimonial">
    <div class="row sec-header">
        <div class="text-md-center text-xs-center">
            <h2>Celebrate</h2>
        </div>
    </div>

    <div class="container">

        <div class="individual">
            <div class="flexslider">
                <ul class="slides">
                    <li class="item">
                        <!--<div class="col-sm-8 col-sm-offset-2">-->
                        <p class="msg">Based on a prior experience, we were expecting flim-flam work, lots of people using buzzwords but bringing no value. Working with NuDebt has however changed our outlook as they are superior in this line of work, has strategic insight and deliver a great service!</p>
                        <div class="indicate"></div>
                        <!--<img src="theme/img/testimonials/connectnet.jpg" class="img-circle avatar">-->
                        <p class="name">Connectnet</p>
                        <!--</div>-->
                    </li>                    
                    <li class="item">
                        <!--<div class="col-sm-8 col-sm-offset-2">-->
                        <p class="msg">In the current economic climate a good collection agent is a must for any business in our industry. We have worked with NuDebt Management for a number of years and have always found them to be totally professional, reliable, and trustworthy. Most of all they get the required results. They have a proven record of collecting debt while treating our clients with respect. We would therefore be delighted to recommend Nudebt Management to any creditor within our industry sector.</p>
                        <div class="indicate"></div>
                        <p class="name">Altech Netstar</p>
                        <!--<p class="date">Name of Person</p>-->
                        <!--</div>-->
                    </li>
                    <!--<li class="item">
                   
                        <p class="msg">I have received the reports yesterday and I was pleased to know that we have such a good success rate so far(the best yet)...What amazes me more is the reports you have sent to me,I dealt with so many companies and I have never received such detailed reports e.g...success rate and unpaid and most of all the successful clients. You guys have just made my life so much easier. I used to spend hours pulling out successful data and now its done for me.</p>
                        <div class="indicate"></div>
                        <p class="name">Twenty Two Marketing Solutions</p>
                        <p class="date">Name of Person</p>

                    </li>-->
                </ul>
            </div>
        </div>
    </div>

</section>


<section id="achievement" class="parallax achievement alt active" style="background-image: url('image/background/main-banner1.jpg')">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>CORPORATE SOCIAL RESPONSIBILITY</h2>
        </div>


        <div class="row form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <p>We run an initiative to feed thousands of less fortunate people every day. Just take a look at how the numbers add up and how your small contribution can make a big difference. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 item">
                <div class="">
                    <span class="stat">50</span>
                </div>
                <div class="sep">

                </div>
                <div>
                    <span>Meals per Day </span>
                </div>
            </div>
            <div class="col-sm-4 item">
                <div class="">
                    <span class="stat">250</span>
                </div>
                <div class="sep">

                </div>
                <div>
                    <span>Meals per Week </span>
                </div>
            </div>
            <div class="col-sm-4 item">
                <div class="">
                    <span class="stat">13000</span>
                </div>
                <div class="sep">

                </div>
                <div>
                    <span>Meals per Year</span>
                </div>
            </div>
            
        </div>
    </div>

</section>
<!--<section class="parallax empty" style="background-image: url('../client/theme/img/background/main-banner.jpg');z-index:-1;">
    <div class="container"></div>
</section>-->

<section id="contact" class="contact alt">
    <div class="row sec-header">
        <div class="text-md-center text-xs-center">
            <h2>Contact us</h2>
        </div>
    </div>
    <div class="container">
        <!--<footer class="alt">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="clearfix">
                            <li>
                                <a href="https://www.facebook.com/pages/Nudebt-Management/227838773967285">
                                    <i class="social_facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/search?q=Nudebt-Management">
                                    <i class="social_twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="social_pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="social_dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/547429?trk=prof-0-ovw-curr_pos">
                                    <i class="social_linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>-->

        <div class="con-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 item">
                        <h3 alt>Get in touch</h3>
                        <p>Fore more information related to our team & products, please contact us by phone, email or via our social network. Thank you.</p>
                        <ul>
                            <li><i class="icon_house"></i>13 Lenin Street, Raceview, Alberton, 1449</li>
                            <li><i class="icon_phone"></i>Phone: 0861 683 328</li>
                            <li><i class="icon_phone"></i>Tel: 011 724 5702</li>
                            <li><i class="icon_tag"></i>Fax: 086 688 2002</li>
                            <li><i class="icon_mail"></i>&copy;info@nudebt.co.za</li>
                        </ul>
                    </div>

                    <div class="col-sm-8 item">
                        <form name="notificationForm" novalidate>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group" show-errors>
                                        <input name="name" class="black-color form-control" ng-model="vm.notification.Name" placeholder="Name" required>
                                        <input name="email" class="black-color form-control" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="vm.notification.Recipient" placeholder="Email" required>
                                        <span class="text-danger" ng-show="notificationForm.email.$error.pattern">
                                            <b>Invalid Email Address</b>
                                        </span>
                                        <input name="telephone" type="text" class="black-color form-control" ng-model="vm.notification.Telephone" numeric placeholder="Telephone" required>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group" show-errors>
                                        <textarea name="message" class="black-color form-control" ng-model="vm.notification.Message" placeholder="Message"></textarea>
                                        <a class="submit btn btn-default" ng-click="vm.sendEmail(notificationForm,vm.notification)">
                                            Send
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="col-md-10"></div>
                            <div class="col-md-2">
                                <input type="submit" class="submit btn btn-primary left" style="margin-left: 15px;" value="SEND" />
                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="nudebtMap" class="no-padding alt">
    <div class="container">
        <div id="map" class="map no-padding alt" style="height:300px;"></div>
    </div>

    <div class="text-center" style="padding-top:20px;">
        <a target="_blank" class="btn" href="https://www.google.co.za/maps/place/NuDebt+Management+Pty+Ltd/@-26.2743769,28.118495,17z/data=!3m1!4b1!4m5!3m4!1s0x1e951aaece1e1229:0x4fd7be0437ae5296!8m2!3d-26.2743769!4d28.120689">View in google maps</a>
    </div>

</section>

<section id="bottomlinks" class="collect alt">

    <div class="container">
        <div class="row">
            <div class="col-sm-4 item" id="menu-content">
                <h4>Quick links</h4>
                <ul class="bottomlinks">
                    <li><a class="goLink" href="#head">Back to top</a></li>
                    <li><a class="goLink" href="#connect">Pay now</a></li>
                    <li><a class="goLink" href="#collect">Collect</a></li>
                    <li><a class="goLink" href="#testimonial">Celebrate</a></li>
                    <li><a class="goLink" href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4 item">
                <h4>Legal</h4>
                <ul class="bottomlinks">
                    <li><a class="goLink" href="#connect">Pay now</a></li>
                    <li><a href="app/login/privacy.html">Site Privacy</a></li>
                    <li><a href="app/Template/NuDebt Tearms And Conditions.pdf" target="_blank">Terms and conditions</a></li>
                    <li><a href="" data-ng-click="vm.beeClick();">BBBEE Rating</a></li>
                </ul>
            </div>
            <div class="col-sm-4 item">
                <h4>NuDebt is a proud member of:</h4>
                <ul class="bottomlinks">
                    <li><a href="https://adra.org/" target="_blank">ADRA</a></li>
                    <li><a href="http://cfdc.org.za/" target="_blank">Council of Debt Collectors</a></li>
                    <li><a href="http://www.cpasa.tv" target="_blank">CPA</a></li>
                    <li><a href="http://www.pasa.org.za/" target="_blank">PASA</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

<div id="ld_back" ng-show="vm.isLoadinglogin">
    <img src="../theme/img/loading.gif" style="margin-top: -94px;margin-left: -32px;" />
</div>
<!--<script src="../client/theme/js/jquery.min.js"></script>-->


<script src="theme/vendor/flexslider/jquery.flexslider.js"></script>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->
<script src="theme/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="theme/vendor/jquery-scrollto.js"></script>
<script src="theme/vendor/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="theme/vendor/jquery.animateNumber.min.js"></script>
<script src="theme/vendor/imagesloaded.pkgd.min.js"></script>
<script src="theme/js/main.js"></script>
<script src="theme/js/mail.js"></script>

<script type="text/javascript">

    (function () {
        var d = document,
        accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
        setAria,
        setAccordionAria,
        switchAccordion,
      touchSupported = ('ontouchstart' in window),
      pointerSupported = ('pointerdown' in window);

        skipClickDelay = function (e) {
            e.preventDefault();
            e.target.click();
        }

        setAriaAttr = function (el, ariaType, newProperty) {
            el.setAttribute(ariaType, newProperty);
        };
        setAccordionAria = function (el1, el2, expanded) {
            switch (expanded) {
                case "true":
                    setAriaAttr(el1, 'aria-expanded', 'true');
                    setAriaAttr(el2, 'aria-hidden', 'false');
                    break;
                case "false":
                    setAriaAttr(el1, 'aria-expanded', 'false');
                    setAriaAttr(el2, 'aria-hidden', 'true');
                    break;
                default:
                    break;
            }
        };

        switchAccordion = function (e) {
            alert("asasasa");
            console.log("triggered");
            e.preventDefault();
            var thisAnswer = e.target.parentNode.nextElementSibling;
            var thisQuestion = e.target;
            if (thisAnswer.classList.contains('is-collapsed')) {
                setAccordionAria(thisQuestion, thisAnswer, 'true');
            } else {
                setAccordionAria(thisQuestion, thisAnswer, 'false');
            }
            thisQuestion.classList.toggle('is-collapsed');
            thisQuestion.classList.toggle('is-expanded');
            thisAnswer.classList.toggle('is-collapsed');
            thisAnswer.classList.toggle('is-expanded');

            thisAnswer.classList.toggle('animateIn');
        };
        for (var i = 0, len = accordionToggles.length; i < len; i++) {
            if (touchSupported) {
                accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
            }
            if (pointerSupported) {
                accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
            }
            accordionToggles[i].addEventListener('click', switchAccordion, false);
        }
    })();
    $("#playVideo").click(function () {
        $("#myModal").modal();
    });

    //$("#myModalClose").click(function () {
    //    $('.modal-backdrop').remove();
    //});
</script>

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

<script src="theme/js/smk-accordion.js"></script>
<!--<script type="text/javascript">
    jQuery(document).ready(function ($) {
        alert();
        $(".accordionn").smk_Accordion({
            closeAble: true, //boolean
        });


    });
</script>-->

<script>
    var map1;
    function initMap() {
        map1 = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -26.2743751, lng: 28.1204161 },
            scrollwheel: false,
            zoom: 8
        });
        var marker = new google.maps.Marker({
            position: map1.center,
            map: map1,
            //  title: 'Hello World!'
        });
    }
    initMap();
</script>
