﻿<div id="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" ng-hide="layoutHeaderChanges == null" class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../theme/img/background/Logo.png">
                </a>
            </div>
            <a href="javascript:;" class="menu-toggler"></a>
            <div class="collapse navbar-collapse" id="menu-content">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" data-ng-click="vm.click('head');">Home</a></li>
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="" data-ng-click="vm.click('collect');">Collect</a></li>
                    <li><a href="" data-ng-click="vm.click('testimonial');">Celebrate</a></li>
                    <li><a href="" data-ng-click="vm.click('contact');">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>



<!-- Dashboard Header Page Name Start -->
<div class="row sec-inner-header remove-margin-bottom" >
    <div class="container">
        <div class="col-sm-12">
            <center> <h2>DASHBOARD</h2></center>
        </div>
    </div>
  
</div> 


<section>
    <br />
    <div class="row" style="overflow:auto;">
        <div class="col-md-12 col-sm-12">
            <div class="container centered">
                <div class="col-md-1 col-sm-2 form-group">
                    <a href="" ui-sref="dashboard.link" class="btn btn-primary btn-default btn-group-sm">Back</a>
                </div>
              
            </div>

            <div class="container centered" style="margin-top:0!important; overflow-y:auto;">
                <iframe width="1100" height="979" src="https://app.powerbi.com/view?r=eyJrIjoiMzRiNzJlMWEtYmExNi00NjI0LTkwY2UtNTNlOTRlOGYyNzllIiwidCI6IjIxMzg1MTIxLTRjOTgtNGMyZC1iMDMwLWU4MTUwMWUxZmJjMCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>

        </div>

    </div>
</section>

<div class="clear-both">&nbsp;</div>

<style>
    section {
        padding: 0px !important;
    }
</style>
