﻿
   <div>
    <img src="../../image/background/loading.gif" />
</div>
<style>
    img {
   position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
   TOP: 0;
    bottom: 0;  
    }
</style>

