﻿<div id="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" ng-hide="layoutHeaderChanges == null" class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../theme/img/background/Logo.png">
                </a>
            </div>
            <a href="javascript:;" class="menu-toggler"></a>
            <div class="collapse navbar-collapse" id="menu-content">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" data-ng-click="vm.click('head');">Home</a></li>
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="" data-ng-click="vm.click('collect');">Collect</a></li>
                    <li><a href="" data-ng-click="vm.click('testimonial');">Celebrate</a></li>
                    <li><a href="" data-ng-click="vm.click('contact');">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<section class="parallax alt" style="background-image: url('theme/img/main-banner.jpg')">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 style="padding-top:100px; padding-bottom: 100px;">Thank you</h1>
        </div>
    </div>
</section>

<section id="bottomlinks" class="collect alt">
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-sm-4 item" id="menu-footer">
                <h4>Quick links</h4>
                <ul class="bottomlinks">
                    <li><a href="" data-ng-click="vm.click('head');">Home</a></li>
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="" data-ng-click="vm.click('collect');">Collect</a></li>
                    <li><a href="" data-ng-click="vm.click('testimonial');">Celebrate</a></li>
                    <li><a href="" data-ng-click="vm.click('contact');">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4 item">
                <h4>Legal</h4>
                <ul class="bottomlinks">
                    <li><a href="" data-ng-click="vm.click('connect');">Pay now</a></li>
                    <li><a href="app/login/privacy.html">Site Privacy</a></li>
                    <li><a href="app/Template/NuDebt Tearms And Conditions.pdf" target="_blank">Terms and conditions</a></li>
                    <li><a href="" ui-sref="dashboard.bee">BBBEE Rating</a></li>
                </ul>
            </div>
            <div class="col-sm-4 item">
                <h4>NuDebt is a proud member of:</h4>
                <ul class="bottomlinks">
                    <li><a href="https://adra.org/" target="_blank">ADRA</a></li>
                    <li><a href="http://cfdc.org.za/" target="_blank">Council of Debt Collectors</a></li>
                    <li><a href="http://www.cpasa.tv" target="_blank">CPA</a></li>
                    <li><a href="http://www.pasa.org.za/" target="_blank">PASA</a></li>
                </ul>
            </div>

        </div>

    </div>
</section>

<style>
    section {
        padding: 0px !important;
    }
</style>
