 <header id="head" class="head no-padding" style="height: 55px;">    
    <div class="background"></div>
</header>

<section id="connect" class="connect remove-margin-bottom padding-zero">

    <!-- Dashboard Header Page Name Start -->
     <div class="row sec-inner-header remove-margin-bottom" ng-if="header != null">
         <div class="container">             
             <div class="col-sm-12">
                 <center> <h2>{{header}}</h2></center>
             </div>             
         </div>
     </div> 
    
    <!-- Dashboard Menu User Detail Start -->
     <div class="row sec-inner-header-menu" ng-if="header != null" style="line-height: 1.7em;" ng-show="layoutHeaderChanges == false">
        <div class="container">
            <div class="col-sm-3">
                <div class="dropdown">
                    <div class="menu-text-icon upper-case"><i class="fa fa-bars white-color" aria-hidden="true"></i><a class="font-size-14px">Menu</a></div>

                    <div class="dropdown-content">
                        <a href="" ng-click="vm.accountClick()">View Accounts</a>
                        <a href="" ng-click="vm.profileClick()">Profile</a>
                    </div>
                </div>
            </div>
           
            <div class="col-sm-9 menu-right-text-condent">
                Welcome <b>{{vm.profile.Name}}</b> you have <b class="font-famil-open-sans-numbers">{{vm.count}} account(s)</b> handed over to NuDebt
                <div class="badge" style="border-radius:50%!important;"><strong class="font-famil-open-sans-numbers">{{vm.count}}</strong></div>
            </div>
        </div>
    </div>    



        <div class="container" data-ng-show="vm.isAuthenticated()">
            <div class="row">
                <div class="hor-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ui-sref="dashboard()" style="padding-top: 8px; padding-bottom: 8px;">
                                <i class="fa fa-home fa-2x" style="color:white; padding-top: 5px;" aria-hidden="true"></i>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="">
                <div ui-view>

                </div>
            </div>
        </div>


        <div class="row remove-margin-bottom margin-zero" ng-if="header != null && header!='LINKS'"
             style="background-image: url(images/nudebt_image_resized.jpg);
                height: 100%; width: 100%; background-size:cover; position: relative;
                left: 0px; top: 0px; z-index: 0; height:400px; background-position: center center;">
            <div class="page-content" style="margin-top:75px; color:white;" ng-if="!vm.isAdmin">
                <div class="container" style="z-index: 1">
                    <div class="col-md-12" style="z-index:2">
                        <div class="col-md-4 float-right text-align-center" style="z-index:3;">
                            <centre>
                                Update your personal profile<br />
                                details and get rewarded

                                <button  class="col-md-6 btn-primary block panel padder-v bg-update item center text-align-center float-none"
                                        style="margin-top: 10px; border-color:#2C407F !important; width:55%;" ng-click="vm.profileClick()">
                                    UPDATE PROFILE
                                </button>
                            </centre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>   

<div class="page-container" ng-if="header != null && header!='LINKS'">
        <div class="page-header menu-top margin-zero" >
            <div class="page-header-menu" >
                <div class="container">
                   
                </div>
            </div>
        </div>
        
    </div>
        <!-- END PAGE CONTENT -->
