﻿
<div class="container">
    <div class="form-group">
      
        <div style="vertical-align:text-top;">
            <div class="col-md-7 margin-zero padding-zero" style="clear:both;  max-height:520px; overflow-y:scroll; overflow-x:hidden;">
                <div class="col-md-12 margin-zero padding-zero" ng-repeat="application in vm.paymentList|limitTo:10 track by $index" style="min-height:260px!important;">
                    <div class="col-md-5">
                        <div>
                            
                            <b class="upper-case">
                                <span style="color:#9B9B9B;line-height:16px; height:16px; margin:0; padding:0;"></span>
                                {{application.M_CreditorName}}<span style="color:#A7A7A7; "> ACCOUNT</span>
                            </b>
                            <br />
                            <div style="color:#A7A7A7; font-size:12px; line-height:16px; height:16px; margin-top:-5px; margin-bottom:15px;" >  Matter Number: <a class="font-famil-open-sans-numbers cursor-pointer">{{application.M_ID}}</a></div>
                            <div class="col-xs-8 padding-zero margin-zero text-align-center">
                                <div class="block panel padder-v bg-account item border-radius-2px">
                                    <span class="text-muted text-xs">Amount Outstanding</span>
                                    <span class="font-weight-bold block outstanding-amount font-famil-open-sans-numbers">R {{application.M_OutstandingAmt}}</span>

                                </div>
                            </div>

                            <div class="col-xs-8 padding-zero margin-zero text-align-center">
                                <div class="block panel padder-v bg-payment item border-radius-2px">
                                    <a href="" data-ng-click="vm.paymentnavigate(application)" class="font-weight-bold block make-payment">MAKE PAYMENT</a>
                                </div>
                            </div>

                            <div class="col-xs-8 padding-zero margin-zero text-align-center">
                                <div class="block panel padder-v bg-breakdown item border-radius-2px">
                                    <a href="" data-ng-click="vm.breakdownnavigate(application)" class="font-weight-bold block make-payment">VIEW BREAKDOWN</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div style="clear:right;"></div>

                    <div class="col-md-7 align-top" style="float:right; margin: 0!important;">
                        <div class="panel-body text-center">
                            <div easypiechart options="options" percent="application.PaidPercent" ng-show="($index+1) %2 != 0">
                                <div>
                                    <!--<div style="color:#FFCE58; font-size:60px; z-index: 1; position: absolute; top: 20%; left: 40%; ">53%</div>-->
                                    <div class="panel-body text-center font-famil-open-sans-numbers"  
                                         style="color:#FFCE58;font-size:50px;z-index: 1;position: absolute;padding-top: 10%;margin-left: -7.5%;height: 100%;width: 100%;">
                                        {{application.PaidPercent}}% 
                                        <div class="font-famil-open-sans-numbers" style="color:#757575; font-size:12px; margin-top:-10px; margin-left: -5%; padding-bottom:5px; ">of a total <b>R{{application.M_CapitalAmt}}</b></div>
                                        <div style="color:#FFCE58; font-size:12px; margin-top:-5px; margin-left: -5%;" class="font-weight-bold">
                                            <b>Paid</b></div>


                                    </div>
                                </div>
                            </div>
                            <div easypiechart options="options1" percent="application.PaidPercent" ng-show="($index+1) %2 == 0">
                                <div class="panel-body text-center font-famil-open-sans-numbers" 
                                     style="color:#3851A1;font-size:50px;z-index: 1;position: absolute;padding-top: 10%;margin-left: -7.5%;height: 100%;width: 100%;">
                                    {{application.PaidPercent}}%
                                    <div class="font-famil-open-sans-numbers" style="color:#757575; font-size:12px; margin-top:-10px; margin-left: -5%; padding-bottom:5px;">of a total <b>R{{application.M_CapitalAmt}}</b></div>
                                    <div style="color:#3851A1; font-size:12px; margin-top:-5px; margin-left: -5%;" class="font-weight-bold"><b>Paid</b></div>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="col-sm-12 col-md-12"><div class="horizontalRule" ng-show="($index+1) != vm.accCount"></div></div>
                    <!--<div class="col-md-12"><div class="horizontalRule"></div></div>

            
            </div>-->
                </div>
            </div>
           
            <div class="com-sm-5 col-md-5" style="display:table;">
                <div class="col-sm-12 col-md-12 margin-zero padding-zero vertical-align-bottom" style="padding-bottom:40px;">
                    <div class="col-sm-3 col-md-2 margin-zero padding-zero float-left">
                        <div class="circle-badge {{vm.profile.ProfileStatusTypeName| lowercase }}">
                            <strong style="font-size: 24px;" class="font-famil-open-sans-numbers">{{vm.profile.TotalRewardPoints}}</strong>
                            <div style="margin-top: -45px;padding:0!important;font-weight: 500;font-size: 12px;">POINTS</div>
                        </div> 
                    </div>
                    <div class="margin-zero padding-zero text-left" 
                         style="height: 70px; text-align: left; vertical-align: middle; display: table-cell; padding-left: 20px!important;">
                        <span style="color:#A7A7A7; font-size:18px; margin-top:5px;">YOU'VE REACHED</span>
                        <span class="{{vm.profile.ProfileStatusTypeName| lowercase }}-color font-weight-bold font-size-18px">{{vm.profile.ProfileStatusTypeName}} STATUS</span>

                        <div class="col-sm-12 col-md-12 margin-zero padding-zero text-left">
                            <span ng-show="vm.profile.ProfileStatusTypeName != 'PLATINUM'" class="float-left font-famil-open-sans-numbers">{{vm.profile.TotalRewardPoints}}/1000</span>
                            <span class="font-famil-open-sans-numbers" ng-show="vm.profile.ProfileStatusTypeName == 'PLATINUM'" >Above 1000</span>

                        </div>
                    </div>  
                </div>

                
                <div class="col-md-12 margin-zero padding-zero vertical-align-bottom" style="margin-top: 15px!important;">                     
                    <img data-ng-src="data:image/png;base64,{{vm.profile.ProfileStatusImage}}" style="height:auto; width:100%; padding-bottom:15px;">
                </div>
               
                    
                <div class="col-md-12 margin-zero padding-zero vertical-align-bottom">
                    <button class="col-md-6 btn-primary block panel padder-v bg-update-red item center text-align-left float-none" 
                            style="margin-bottom: 10px; width: 100%; border-color: #af1b1f!important;" 
                            ng-click="vm.profileClick()">
                        <div ></div>
                        <span ng-show="!vm.isProfileStatusUpdate"><i class="fa fa-arrow-circle-o-right margin-zero white-color" aria-hidden="true"></i> &nbsp; &nbsp; Update your profile to get to <b>{{vm.profile.NextStatus}} STATUS</b></span> 
                        <span ng-show="vm.isProfileStatusUpdate"><i class="fa fa-arrow-circle-o-right margin-zero white-color"  aria-hidden="true"></i> &nbsp; &nbsp; You've reached <b>PLATINUM STATUS</b></span></button>
                </div>    
                    
                
                    <table class="myOtherTable">
                        <tr>
                            <th width="40%">Your Profile</th>
                            <th width="60%" align="right">
                                <div class="col-sm-5 block item float-right" style="text-align: right; padding-right: 0!important;">
                                    <div style="width: 80px; padding: 5px; float: right;" class="bg-update-red border-radius-2px">
                                        <i class="fa fa-pencil white-color" style="margin-right: 5px!important; font-size: 16px!important; margin-top:0!important;"></i>
                                        <a class="font-weight-bold block make-payment" ng-click="vm.profileClick()">UPDATE</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>{{vm.profile.TitleName}}</td>
                        </tr>
                        <tr>
                            <td>Initials</td>
                            <td>{{vm.profile.Initials}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{vm.profile.Name}}</td>
                        </tr>
                        <tr>
                            <td>Surname</td>
                            <td>{{vm.profile.Surname}}</td>
                        </tr>
                        <tr>
                            <td>Identity Number</td>
                            <td class="font-famil-open-sans-numbers">{{vm.profile.SA_ID}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{vm.profile.Gender == "1" ? "Male" : vm.profile.Gender == "2"? "Female" : "-"}}</td>
                        </tr>
                        <tr>
                            <td>Mobile Number</td>
                            <td class="font-famil-open-sans-numbers">{{vm.profile.CellNumber}}</td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>{{vm.profile.Email}}</td>
                        </tr>
                    </table>

                </div>

        </div>
    </div>
    <div class="clear-both">&nbsp;</div>
</div>



