/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	border: 0px;
	position: relative;
	zoom: 1;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 16px;
    height: 26px;
    margin: 0;
    display: block;
    background: url('../images/img-sp.png') no-repeat 1px 0px;
    position: absolute;
    top: 46%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	/*background-position: -21px 0px;*/
    right: -6%;
}
.flex-direction-nav .flex-prev {left: -8%;}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.flex-control-nav {
	/*display: none;*/
    position: absolute;
    /*right:45.5%;*/
    margin-left: 0px;
    /*bottom: -30%;*/
    vertical-align:middle;
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	width: 10px;
    height: 10px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
}
.flex-control-paging li a.flex-active { 
	background:#E6B61C;
    cursor: default;
}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width:1680px) {
	.flex-direction-nav a {
		top: 45%;
	}
}
@media screen and (max-width: 1080px){
	.flex-direction-nav .flex-prev {
		left: -4%;
	}
	.flex-direction-nav .flex-next {
		right: -2%;
	}
	 
}
@media screen and (max-width: 800px) {
.flex-direction-nav .flex-next {
    right: -6%;
}
.flex-direction-nav .flex-prev {
    left: -9%;
}
}
@media screen and (max-width: 568px) {
	.flex-direction-nav .flex-next {
		right: -14%;
	}
	.flex-direction-nav .flex-prev {
		left: -16%;
	}
}
@media screen and (max-width: 480px) {
	section.slider {
		padding-top: 0%;
	}
	.flexslider {
		padding: 0px;
	}
	.flex-control-nav {
		/*right: 43.5%;*/
	}
}
@media screen and (max-width: 414px) {
	.flex-control-nav {
		/*right: 41.5%;*/
	}
}
@media screen and (max-width: 384px){
	.flex-control-nav li {
		margin: 0 4px;
	}
	.flex-control-nav {
		/*right: 43.5%;*/
	}
}
@media screen and (max-width: 320px) {
	section.slider {
		padding-top: 0%;
	}
	.flex-control-paging li a {
		width: 7px;
		height: 7px;
	}
	.flex-direction-nav .flex-next {
		right: -10%;
	}
	.flex-direction-nav .flex-prev {
		left: -10%;
	}
}