﻿/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}*/
.container-fluid {
    /*margin-top: -3.2%;*/
}

/*.register-background
{
    font-family: 'Open Sans', sans-serif;
    background: url(../images/homeconnect-login-background-blur.jpg) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:800px;
}
.centered {
  position: fixed; 
     top: 20%;
    left: 28%;
}*/

body {
    /*font-family: 'Century Gothic', Century Gothic;*/
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;*/
    font-size: 10pt !important;
    color: black !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.invalid {
    border-color: red !important;
    border-width: 1px !important;
}

.pagination {
    margin: 3px 0 -3px 0 !important;
}

.row {
    margin: 1% 0 0 0;
}

.report {
}

.report-textbox {
    border-bottom-color: black;
}

.datepicker-has-error {
    border-bottom-color: red !important;
    border-width: 2px !important;
    border-bottom-style: solid !important;
}
/*Tab Content
}*/
.tab-content {
    margin: 0;
    padding: 0;
}

.content {
    margin: 1em;
    padding: 1em;
}

/*.report.form-control input[type=text]{
    border-bottom-color:black;
}*/
.register-container {
    padding: 10px 40px 10px 40px;
}

.register-button {
    margin-top: 5%;
}

.model-zindex {
    z-index: 10000 !important;
    margin-top: 13%;
}

.model-zindex-withouttop {
    z-index: 10000 !important;
}


.model-terms {
    z-index: 10000 !important;
}

.modal-header {
    background-color: #2196f3;
}

    .modal-header h3, .modal-header button {
        color: white;
    }

    .modal-header.danger {
        background-color: #e51c23;
    }

.heading-button-bar {
    margin-top: 25px;
}

.modal-header.danger, .btn-danger {
    background-color: #FF2F00;
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid transparent;
    min-height: 8px;
}

    .modal-header h3.modal-title {
        line-height: 0.5;
        font-size: 150%;
    }

.modal-body p {
    font-size: large;
}

.app-modal-window .modal-dialog {
    width: 80%;
}

.app-modal-window-small .modal-dialog {
    width: 40%;
}

@media (min-width: 1920px) {
    .app-modal-window {
        width: 70%;
    }

    .modal-open .modal {
        overflow: hidden;
        align-content: center;
        margin: 0 auto;
    }
}
/*.fixed{
        z-index: 9995;
            position: relative;
    right: 0;
    left: 0;
    /*z-index: 1030;
}*/
.headding-withnav-container, .headding-withnav-container-withShadow {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.headding-withnav-title {
    margin-top: -3.5%;
}

.headding-withnav-container-withShadow {
    -webkit-box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
}


/*.headding-withnav-container,.headding-withnav-container-withShadow a
{
box-shadow: 0 0 5px black;
cursor:pointer;
-webkit-box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
}*/
.page-header.menu-top {
    margin: 76px 0 0 0;
    /*margin-top:100px;*/
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #00AFFF;
    text-align: center;
    color: white;
    z-index: 10000;
}

.row-space-top {
    margin-top: 2%;
}

.row-space-bottom {
    margin-bottom: 2%;
}

.row-space {
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-title {
    color: #00AFFF;
    margin-bottom: -2%;
}

.map-search-btn {
    margin: 3.5em;
}

.no-padding-right {
    padding-right: 0;
}

.infobubble-close-img {
    /*float:right;
    position: relative;
    z-index: 10000;
    cursor: pointer;
    margin-left: 33%;
    margin-top: -12px;
    padding-bottom: -20px;*/
}

.container-fluid h3 {
    margin-top: -1px;
}

/*Login*/

/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
/* a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
/* .txt-lt{text-align:left;}/* text align left */
/* .txt-center{text-align:center;}/* text align center */
/* .float-rt{float:right;}/* float right */
/* .float-lt{float:left;}/* float left */
/* .clear{clear:both;}/* clear float */
/* .pos-relative{position:relative;}/* Position Relative */
/* .pos-absolute{position:absolute;}/* Position Absolute */
/* .vertical-base{	vertical-align:baseline;}/* vertical align baseline */
/* .vertical-top{	vertical-align:top;}/* vertical align top */
/* .underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
/* nav.vertical ul li{	display:block;}/* vertical menu */
/* nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
/* img{max-width:100%;}*/
/*end reset*/
/*-contact start here--*/
/*body {
   background: url(../images/gray.jpg)no-repeat;
   background-size: cover;
   padding:50px 0px 30px 0px;
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
}
h1 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0px 0px 40px 0px;
}*/
.singup {
    width: 30%;
    background: #fff;
    /*margin: 0 auto;*/
    border-radius: 10px;
    margin: 8% auto;
    -webkit-box-shadow: 5px 5px 26px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 5px 5px 26px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 5px 5px 26px 0px rgba(50, 50, 50, 0.75);
}

    .singup.register {
        margin-top: 0;
        width: 80%;
    }

        .singup.register.form-control {
            padding: 10px;
        }

    .singup h3 {
        font-size: 27px;
        font-weight: 300;
        color: #fff;
        background: #0EA7E7;
        padding: 20px 0px;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 3px solid #EA484E;
    }

.signup-main {
    padding: 0px 0 18px 0;
    /*padding: 8px 30px 25px 30px;*/
    text-align: center;
}

    .signup-main form {
        width: 94%;
    }
    /*.signup-main input[type="text"] {
  outline: none;
  font-size: 15px;
  font-weight: 400;
  color: #CCCACA;
  padding: 13px 10px;
  border: 2px solid #C9C9C9;
  margin: 0px 30px 20px 0px;
  width: 40%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-appearance: none;
}
.signup-main input.lessgap[type="text"] {
  margin: 0px 0px 0px 0px;
}
.signup-main input.email[type="text"] {
  margin: 0px 0px 20px 0px;
  width: 94%;
}
.signup-main input.phone[type="text"] {
  width: 94%;
  margin: 0px 0px 25px 0px;
}
.signup-main input[type="password"]{
   outline: none;
  font-size: 15px;
  font-weight: 400;
  color: #CCCACA;
  padding: 13px 10px;
  border: 2px solid #C9C9C9;
  margin: 0px 30px 20px 0px;
  width: 40%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-appearance: none;
}
.signup-main input.lessgap[type="password"] {
  margin: 0px 0px 0px 0px;
}*/
    .signup-main input[type="submit"] {
        background: #EA484E;
        color: #FFF;
        font-size: initial;
        font-weight: 300;
        padding: 10px 30px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        margin: 10px 0px 5px 0px;
        border: none;
        display: inline-block;
        cursor: pointer;
        outline: none;
        /*-webkit-box-shadow: 5px 5px 26px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    5px 5px 26px 0px rgba(50, 50, 50, 0.75);
box-shadow:         5px 5px 26px 0px rgba(50, 50, 50, 0.75);*/
    }

        .signup-main input[type="submit"]:hover {
            background: #0EA7E7;
        }

    .signup-main p {
        font-size: 13px;
        font-weight: 400;
        color: #BCBCBC;
        text-decoration: underline;
    }

        .signup-main p a {
            font-size: 13px;
            font-weight: 600;
            color: #0EA7E7;
        }

            .signup-main p a:hover {
                color: #BCBCBC;
            }

/*-contact end here--*/
/*--meadia quiries start here--*/
@media(max-width:1440px) {
    .singup {
        width: 35%;
    }
}

@media(max-width:1366px) {
    .singup {
        width: 36%;
    }
}

@media(max-width:1280px) {
    .singup {
        width: 38%;
    }
}

@media(max-width:1024px) {
    .singup {
        width: 49%;
    }
}

@media(max-width:768px) {
    .singup {
        width: 65%;
    }

    /*.signup-main input[type="text"] {
  margin: 0px 0px 15px 0px;
  width: 90%;
}
.signup-main input.lessgap[type="text"] {
  margin: 0px 0px 15px 0px;
}
.signup-main input.email[type="text"] {
  margin: 0px 0px 15px 0px;
  width: 90%;
}
.signup-main input[type="password"] {
  margin: 0px 0px 15px 0px;
  width: 90%;
}
.signup-main input.lessgap[type="password"] {
  margin: 0px 0px 15px 0px;
}
.signup-main input.phone[type="text"] {
  width: 90%;
  margin: 0px 0px 20px 0px;
}*/
    .signup-main {
        padding: 30px 20px 25px 20px;
    }
}

@media(max-width:640px) {
    .singup {
        width: 77%;
    }
}

@media(max-width:480px) {
    .signup-main input[type="submit"] {
        font-size: 18px;
    }
}

@media(max-width:320px) {
    .singup {
        width: 95%;
    }

    .signup-main {
        padding: 25px 25px 20px 25px;
    }

    .singup h3 {
        padding: 15px 0px;
        font-size: 20px;
    }

    .signup-main input[type="submit"] {
        font-size: 15px;
        padding: 10px 20px;
    }
    /*.signup-main input[type="text"] {
  margin: 0px 0px 10px 0px;
  padding: 8px 10px;
  font-size: 12px;
}*/
    /*.signup-main input.lessgap[type="text"] {
  margin: 0px 0px 10px 0px;
}
.signup-main input.email[type="text"] {
  margin: 0px 0px 10px 0px;
}
.signup-main input[type="password"] {
  padding: 8px 10px;
}*/

    /*h1 {
  font-size: 25px;
  margin: 0px 0px 15px 0px;
}*/

}
/*--meadia quiries end here--*/

/*Hover Effect
    Refer :http://ianlunn.github.io/Hover/#effects
*/
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .hvr-float-shadow:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }

    .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        /* move the element up by 5px */
    }

        .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
            opacity: 1;
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
            /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
        }

/* Icon Back */
.hvr-icon-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-left: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

    .hvr-icon-back:before {
        content: "\f137";
        position: absolute;
        left: 1em;
        padding: 0 1px;
        font-family: FontAwesome;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }

.alert {
    margin-bottom: -2%;
}

.alert-info {
    font-size: large;
}

    .alert-info span {
        font-style: italic;
    }

/*Round Button*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle.anchar {
        cursor: pointer;
    }

        .btn-circle.anchar i {
            margin-top: 7px;
        }

    .btn-circle.search {
        margin: 49% auto auto 2%;
    }

        .btn-circle.search i {
            margin-top: 28%;
        }

.no-padding-leftright {
    padding-left: 0;
    padding-right: 0;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-circle:after {
    border: 0;
}
/*Pricing*/
.pop_up {
    border: 9px solid#485460;
    border-radius: 1em;
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
/* Styles for dialog window */
#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
    background: white;
    padding: 20px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
    text-align: center;
    border: 9px solid#eee;
    border-radius: 1em;
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
/*Pricing table and price blocks*/
.price-head h1 {
    text-align: center;
    /*margin-top: 2em;*/
    font-size: 3em;
    color: #fff;
    background-color: #00AFFF;
}

.price-head h3 {
    color: #404042;
    font-size: 3em;
    text-decoration: none;
    font-weight: 700;
}

.pricing-grids {
    /*margin: 12% 0;*/
    margin-left: 25px;
}

.latest-pricing-grid {
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 1px;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
}

.latest-pricing-inner-grid {
    background: #fff;
    border: 1px solid #D3D3D3;
}

    .latest-pricing-inner-grid ul {
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        list-style-type: none;
        text-align: center;
    }

        .latest-pricing-inner-grid ul li a {
            display: block;
            color: #000;
            text-decoration: none;
            height: 40px;
            background-color: #F5F5F5;
            border-bottom: 0.5px solid #D3D3D3;
            text-align: center;
        }


.latest-pricing-grid-table {
    height: 170px;
    background-color: #e4e4e4;
    border-radius: 4px;
}

.productFeatureFontStyle {
    color: #1f486d;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/*----*/
.pricing-grid1, .pricing-grid2, .pricing-grid3 {
    width: 20.5%;
    float: left;
    text-align: center;
    margin-right: 2%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 0;
    border: none;
    border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    -o-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
}

.pricing-grid3 {
    margin-right: 1%;
}

    .pricing-grid1:hover, .pricing-grid2:hover, .pricing-grid3:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        z-index: 1;
        border: none;
    }

.pricing-grid1:nth-child(3) {
    margin-right: 0;
}

.price-value h2 a, .price-value.two h3 a, .price-value.three h4 a {
    font-size: 1.8em;
    color: #fff;
}

.price-value, .price-value.two, .price-value.three {
    background: #512884;
    padding: 2.8em 1.8em 2em;
    border-bottom: 2px solid#ffd500;
    border-top-left-radius: 0.7em;
    -webkit-border-top-left-radius: 0.7em;
    -o-border-top-left-radius: 0.7em;
    -moz-border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
    -o-border-top-right-radius: 0.7em;
    -moz-border-top-left-radius: 0.7em;
    position: relative;
}

    .price-value.two {
        background: #2b2b33;
        border-bottom: 2px solid#fd6e70;
    }

    .price-value.three {
        background: #04dbdd;
        border-bottom: 2px solid#028f87;
    }

    .price-value ul, .pricing-grid1 ul, .pricing-grid2 ul, .pricing-grid3 ul {
        padding: 0;
    }

        .price-value ul li, .pricing-grid1, .pricing-grid2 ul li, .pricing-grid3 ul li {
            list-style: none;
        }

        .price-value ul li {
            list-style: none;
        }

    .price-value h5 span {
        color: #fbd707;
        font-size: 19px;
    }

    .price-value lable {
        color: #817d94;
        font-size: 17px;
    }

    .price-value.two h5 span {
        color: #fe6d72;
    }

    .price-value.two h5 lable {
        color: #8c8c94;
    }

    .price-value.three h5 span {
        color: #018f90;
    }

    .price-value.three h5 lable {
        color: #9CF7F8;
    }

    .price-value h5 {
        padding: 11px 0;
    }

.sale-box, .sale-box.two, .sale-box.three {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 130px;
    width: 143px;
    text-align: center;
    z-index: 0;
    right: 0;
    border-top-right-radius: 0.7em;
    -o-border-top-right-radius: 0.7em;
    -moz-border-top-right-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
}

    .sale-box span.on_sale {
        font-size: 14px;
        color: #444;
        background: #ffd400;
        text-transform: uppercase;
        padding: 58px 35px 17px 40px;
        width: 281px;
        text-align: center;
        display: block;
        position: absolute;
        left: -47px;
        top: -41px;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(40deg);
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.75);
    }

    .sale-box.two.sale-box span.on_sale {
        background: #fa6e6f;
    }

    .sale-box.three.sale-box span.on_sale {
        background: #05AEA7;
    }

.pricing-grid1 ul li a, .pricing-grid2 ul li a, .pricing-grid3 ul li a {
    color: #C7C4C4;
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 400;
}

.pricing-grid1 ul li.whyt a, .pricing-grid2 ul li.whyt a, .pricing-grid3 ul li.whyt a {
    background: #f4f4f4;
}

.pricing-grid1:hover div.price-bg ul li a, .pricing-grid1:hover div.price-value h3 a {
    color: #512884;
}

.pricing-grid2:hover div.price-bg ul li a, .pricing-grid2:hover div.price-value h3 a {
    color: #fa6e6f;
}

.pricing-grid3:hover div.price-bg ul li a, .pricing-grid3:hover div.price-value h3 a {
    color: #04dbdd;
}

.price-bg {
    background: #fff;
}

    .price-bg ul {
        padding: 0;
    }

        .price-bg ul li {
            list-style: none;
        }

.cart1, .cart2, .cart3 {
    padding: 2.7em 0em 2.7em;
    display: block;
    border-bottom: 2px solid#ffd500;
}

.cart2 {
    border-bottom: 2px solid#f96d70;
}

.cart3 {
    border-bottom: 2px solid#04dbdd;
}

    .cart1 a, .cart2 a, .cart3 a {
        color: #FFF;
        font-size: 0.9em;
        font-weight: 500;
        padding: 0.8em 2em;
        text-decoration: none;
        background: #f7d30b;
        text-transform: uppercase;
        -webkit-appearance: none;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -o-border-radius: 1em;
        -moz-border-radius: 1em;
        outline: none;
    }

.cart2 a {
    background: #fa6e6f;
}

.cart3 a {
    background: #04dbdd;
}

    .cart1 a:hover, .cart2 a:hover, .cart3 a:hover {
        color: #2b2b33;
    }
/*----*/
/*---start-pricing-tabels-----*/
.payment-online-form-left {
}

form li {
    list-style: none;
}

form ul {
    padding: 0;
}

.payment-online-form-left h4 {
    font-size: 1.8em;
    color: #222222;
    padding: 0.5em 0;
    text-align: left;
}

.payment-online-form-left span {
    vertical-align: sub;
    margin-right: 5px;
}

.payment-online-form-left form {
    padding: 0 3%;
}

.payment-online-form-left input[type="text"] {
    padding: 1em 1em;
    color: #485460;
    width: 42%;
    margin: 0.5em 0;
    border: 1px solid;
    outline: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    float: left;
    font-size: 0.9em;
    border-color: #EEE;
    -webkit-appearance: none;
}

    .payment-online-form-left input[type="text"]:hover {
        border-color: #fa6e6f;
    }

.text-box-dark {
}

.text-box-light {
    background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/calender.png) no-repeat 95% 50%;
    cursor: pointer;
    position: relative;
}

.payment-online-form-left ul li:first-child input[type="text"] {
    margin-right: 5%;
}

.payment-online-form-left input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
    border-color: #fa6e6f;
    color: #fa6e6f;
}

.shipping {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -111px -26px;
}

.payment {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -152px -30px;
}

.payment-date-section {
    background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/calender.png) no-repeat #fff 50%;
}

.payment-sendbtns {
    float: right;
    margin: 2em 0 1.5em;
}

    .payment-sendbtns input[type="reset"] {
        background: #fa6e6f;
        padding: 0.7em 1em;
        border: none;
        color: #FFF;
        cursor: pointer;
        font-size: 1.2em;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        outline: none;
    }

        .payment-sendbtns input[type="reset"]:hover {
            color: #FFF;
            background: #464C54;
        }

    .payment-sendbtns input[type="submit"] {
        background: #464C54;
        padding: 0.7em 1em;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-appearance: none;
        outline: none;
    }

        .payment-sendbtns input[type="submit"]:hover {
            color: #fff;
            background: #fa6e6f;
        }

    .payment-sendbtns li {
        display: inline-block;
    }

.payment-type li {
    display: inline-block;
}

.payment-online-form-right {
    background: #2B2937;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #1A1822;
}
/*---start-checkbox----*/
input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox2 {
    display: none;
}

    input[type=checkbox].css-checkbox1 + label.css-label1 {
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: super;
        cursor: pointer;
        background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -188px -25px;
    }

    input[type=checkbox].css-checkbox1:checked + label.css-label1 {
        background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -215px -25px;
    }

    input[type=checkbox].css-checkbox2 + label.css-label2 {
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: -20px 0px;
        vertical-align: super;
        cursor: pointer;
        background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -218px -24px;
    }

    input[type=checkbox].css-checkbox2:checked + label.css-label2 {
        background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -190px -24px;
    }

.visa {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -32px -28px;
}

.paypal {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -71px -26px;
}

.payment-online-form-right {
    float: right;
    width: 30%;
    background: #2B2937;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #1A1822;
    padding-bottom: 2em;
}

    .payment-online-form-right a:hover {
        color: #1ABC9C;
    }

    .payment-online-form-right ul li {
        display: block;
        padding: 0.5em;
    }

        .payment-online-form-right ul li a {
            color: #9095AA;
        }

    .payment-online-form-right h4 {
        color: #FFF;
        font-size: 1em;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(144, 149, 170, 0.22);
        padding: 0.8em;
    }

    .payment-online-form-right ul {
        padding: 0px 1em;
    }

    .payment-online-form-right h5 {
        color: #FFF;
        padding: 0.5em 0.8em 0.4em;
        font-size: 1em;
    }

.payment-type {
    border-top: 1px solid rgba(144, 149, 170, 0.22);
    margin-top: 3%;
    text-align: left;
}

input[type=checkbox].css-checkbox3, input[type=checkbox].css-checkbox4, input[type=checkbox].css-checkbox5, input[type=checkbox].css-checkbox6 {
    display: none;
}

    input[type=checkbox].css-checkbox3 + label.css-label3 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 -38px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox3:checked + label.css-label3 {
        background-position: 0px 0px;
    }

    input[type=checkbox].css-checkbox4 + label.css-label4 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox4:checked + label.css-label4 {
        background-position: 0px -38px;
    }

    input[type=checkbox].css-checkbox5 + label.css-label5 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 -38px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox5:checked + label.css-label5 {
        background-position: 0px 0px;
    }

    input[type=checkbox].css-checkbox6 + label.css-label6 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox6:checked + label.css-label6 {
        background-position: 0px -38px;
    }
/*-----*/
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .mfp-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-content iframe {
    width: 100%;
    min-height: 500px;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

    .mfp-preloader a {
        color: #cccccc;
    }

        .mfp-preloader a:hover {
            color: white;
        }

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    background: #EEEEEE;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    outline: none;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

    .mfp-close:hover, .mfp-close:focus {
        opacity: 1;
    }

.mfp-close-btn-in .mfp-close {
    color: #333333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.image-top img {
    width: 100%;
}

.image-top p {
    text-align: justify;
    padding: 2% 0;
    font-size: 15px;
}

.image-top h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 16px 0px 0px 0px;
    color: #3F4244;
}

/*.footer {
	padding: 1em 0;
	text-align: center;
}
.footer p {
	font-size:0.9em;
	color:#fa6e6f;
	font-weight: 400;
	text-transform: uppercase;
}
.footer p a{
	color:#0fc7c9;
}
.footer p a:hover{
	color: #fa6e6f;
}*/
/*--------------*/

/* Screen size baed css*/
@media(max-width:1366px) {
    .pricing-grid1 ul li a, .pricing-grid2 ul li a, .pricing-grid3 ul li a {
        font-size: 17px;
    }
}

@media(max-width:1024px) {
    .pricing-grid1 ul li a, .pricing-grid2 ul li a, .pricing-grid3 ul li a {
        font-size: 15px;
    }

    .price-value, .price-value.two, .price-value.three {
        padding: 2em 0 1em 0;
    }

        .price-value h2 a, .price-value.two h3 a, .price-value.three h4 a {
            font-size: 1.6em;
        }

    .price-head h1 {
        margin-top: 1em;
        font-size: 2.6em;
    }

    .pricing-grids {
        margin: 8% 0;
    }
}

@media(max-width:768px) {
    .pricing-grid1 h3 a, .pricing-grid2 h3 a, .pricing-grid3 h3 a {
        padding: 0.4em 1em;
        font-size: 0.7em;
    }

    .pricing-grid1, .pricing-grid2, .pricing-grid3 {
        width: 55%;
        float: none;
        text-align: center;
        margin: 1em auto;
    }

    .price-head h1 {
        margin-top: 1em;
        font-size: 2.4em;
    }

    .cart1, .cart2, .cart3 {
        padding: 2em 0em 2em;
    }
}

@media(max-width:640px) {
    .pricing-grid1 ul li a, .pricing-grid2 ul li a, .pricing-grid3 ul li a {
        font-size: 15px;
    }

    .pricing-grid1, .pricing-grid2, .pricing-grid3 {
        width: 65%;
        float: none;
        text-align: center;
        margin: 1em auto;
    }

        .pricing-grid1 ul li a, .pricing-grid2 ul li a, .pricing-grid3 ul li a {
            font-size: 15px;
            padding: 13px 0;
        }

    .payment-online-form-left input[type="text"] {
        padding: 1em 1em;
        width: 93%;
    }

    .payment-sendbtns {
        float: none;
        margin: 2em 0 1.5em;
    }
}

@media(max-width:480px) {
    .pricing-grid1, .pricing-grid2, .pricing-grid3 {
        width: 81%;
    }

    .price-head h1 {
        margin-top: 1em;
        font-size: 2.1em;
    }

    .payment-online-form-left input[type="text"] {
        padding: 1em 1em;
        width: 91%;
    }

    .pop_up {
        border: 7px solid#485460;
    }
}

@media(max-width:320px) {
    .pricing-grid1, .pricing-grid2, .pricing-grid3 {
        width: 100%;
        margin-right: 0;
    }

    .price-value h2 a, .price-value.two h3 a, .price-value.three h4 a {
        font-size: 1.2em;
    }

    .price-value h5 span, .price-value lable {
        font-size: 16px;
    }

    .price-head h1 {
        margin-top: 1em;
        font-size: 1.5em;
    }

    .payment-online-form-left input[type="text"] {
        padding: 0.8em 0.8em;
        width: 86%;
        font-size: 13px;
        margin: 3px;
    }

    .pop_up {
        border: 4px solid#485460;
    }

    .payment-online-form-left h4 {
        font-size: 1.4em;
    }

    .payment {
        background: url(http://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/icon.png) no-repeat -152px -21px;
    }

    .footer p {
        font-size: 0.9em;
        line-height: 1.5em;
    }

    ul.payment-sendbtns li {
        margin-top: 1em;
    }
}

.backButton {
    width: 47px !important;
    height: 100% !important;
}

.titleCen {
    padding-right: 10% !important;
    padding-top: 1% !important;
    width: 95% !important;
    height: 100% !important;
    float: right !important;
}

/*loader animation start*/
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: show;
    background: rgba(255, 255, 255, 0.46);
}

.loader {
    font-size: 10px;
    border-top: .8em solid rgba(218, 219, 223, 1);
    border-right: .8em solid rgba(218, 219, 223, 1);
    border-bottom: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgb(25, 177, 247);
    animation: rotate 1s infinite linear;
}

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -4.05em;
        left: 46%;
        border: 12px solid rgba(30, 150, 240, 0.2);
        border-right-color: #2196F3;
    }

.spinner {
    position: relative;
    margin: auto;
    height: 100px;
    width: 100px;
    align-content: center;
    animation: rotate 1s infinite linear;
    border: 12px solid rgba(30, 150, 240, 0.2);
    border-right-color: #2196F3;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*loader animation end*/

/*file upload brows button start*/
.btnfile {
    position: absolute;
    top: 1px;
    right: 0;
    width: 80px;
    height: 16px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    /* opacity: 0; */
    /* background: red; */
    cursor: inherit;
    display: block;
}
/*file upload brows button end*/

/* grid start */
.bar {
    border: 1px solid silver !important;
    height: 30px;
    background-color: #BDDFFF;
    font-size: initial;
    margin-top: -1px;
}

.valueStyle {
    color: #078622;
    font-size: initial;
    font-weight: bold;
}

.NavyStyle {
    color: navy;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}
/* grid end */
.checkbox {
    margin-top: 1.5px;
}

.row {
    margin-top: 2% !important;
}

.button-bar {
    margin-bottom: 10px;
    text-align: right;
}

.validationmessage {
    margin: 5px;
    padding: 10px;
    height: 22px !important;
    color: red;
}

.model-spinner {
    position: relative;
    left: 50%;
    margin-left: 80%;
    margin-top: 55%;
    height: 100px;
    width: 100px;
    -moz-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
    border: 12px solid rgba(30, 150, 240, 0.2);
    border-right-color: #2196F3;
    border-radius: 50%;
}

.borderless {
    border: none !important;
}


.control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 10px;
}

.product-class {
    font-size: large;
    background-color: #00AFFF;
}

.pull-right-dropdownmenu {
    right: 0;
    left: auto;
}

.homepagebutton {
    padding: 14px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 30px;
    background: #00D646;
    color: #ffffff;
    margin-top: 10px;
    font-family: arial;
    test-decoration: none;
    font-color: #ffffff;
    font-size: 13px;
    cursor: pointer;
}

.italic {
    font-style: italic !important;
}

.checkCoverageSearch {
    margin-top: -18px;
}

.badge-info {
    background-color: purple;
}

/*chart start*/
.pie-legend {
    padding-left: 0;
    width: 1em;
    margin-top: -190px !important;
}
/*chart end*/
.checkCoverageSearch {
    margin-top: -18px;
}





/*!
 * bootstrap-vertical-tabs - v1.2.1
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-11-07
 * Copyright (c) 2014 İsmail Demirbilek
 * License: MIT
 */
.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

    .tabs-left > li, .tabs-right > li {
        float: none;
        margin-bottom: 2px;
    }

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
    border-bottom: 4px solid #357bbb;
}

.tabs-left > li:hover {
    background-color: white;
    border-bottom: 4px solid #357bbb;
}

    .tabs-left > li:hover > a:hover {
        color: #1f486d;
    }

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    /*border-bottom-color: #ddd;
  border-right-color: transparent;*/
    background-color: white;
    color: #1f486d;
    border-bottom: 4px solid #357bbb;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

.sideways {
    margin-top: 50px;
    border: none;
    position: relative;
}

    .sideways > li {
        height: 20px;
        width: 120px;
        margin-bottom: 100px;
    }

        .sideways > li > a {
            border-bottom: 1px solid #ddd;
            border-right-color: transparent;
            text-align: center;
            border-radius: 4px 4px 0px 0px;
        }

        .sideways > li.active > a,
        .sideways > li.active > a:hover,
        .sideways > li.active > a:focus {
            border-bottom-color: transparent;
            border-right-color: #ddd;
            border-left-color: #ddd;
        }

    .sideways.tabs-left {
        left: -50px;
    }

    .sideways.tabs-right {
        right: -50px;
    }

        .sideways.tabs-right > li {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    .sideways.tabs-left > li {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }



/*Animated Button*/
.animatedButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #1f486d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .animatedButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .animatedButton span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .animatedButton:hover span {
        padding-right: 25px;
    }

        .animatedButton:hover span:after {
            opacity: 1;
            right: 0;
        }


/* Check box */
.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

    .slideThree:after {
        content: 'OFF';
        font: 12px/26px Arial, sans-serif;
        color: #000;
        position: absolute;
        right: 10px;
        z-index: 0;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    }

    .slideThree:before {
        content: 'ON';
        font: 12px/26px Arial, sans-serif;
        color: #00bf00;
        position: absolute;
        left: 10px;
        z-index: 0;
        font-weight: bold;
    }

    .slideThree label {
        display: block;
        width: 34px;
        height: 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        background: #fcfff4;
        background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    }

    .slideThree input[type=checkbox]:checked + label {
        left: 43px;
    }



/*Home page Panel */

.tasklist {
    padding: 10px !important;
    margin: 0 0 10px !important;
}

.tasklist-body {
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

.tasklist-refno {
    display: inline-block;
    margin: 0 0 10px;
    color: #999;
    font-weight: 200;
}

.tasklistt-title {
    display: inline-block;
    float: left;
    margin: 0 0 10px;
    color: #060606;
    font-weight: 600;
}

.tasklistt-date {
    display: inline-block;
    float: right;
    margin: 0;
    color: #BABABA;
}

.tasklist-circleStatus {
    width: 40px;
    float: left;
}


.tasklist:hover {
    background: #f9f9f9;
    cursor: pointer;
}

.tasklist-text {
    color: #999;
}

.task-status-pending {
    font-weight: 600;
    color: #B8C0F5;
}
.task-status-openned {
    font-weight: 600;
    color: rgba(240, 57, 142, 0.55);
;
}
.task-status-clossed {
    font-weight: 600;
    color: rgba(57, 191, 41, 0.63);
}
.task-status-submitted {
    font-weight: 600;
    color: rgba(138, 43, 226, 0.63);
}

.task-status-approved {
    font-weight: 600;
    color: #5cb85c;
}

.task-status-Cancelled {
    font-weight: 600;
    color: #e51c23;
}

.task-status-Rejected {
    color: #e51c23;
    font-weight: 600;
}

.task-status-SPRequest {
    color: #f0ad4e;
    font-weight: 600;
}

.task-status-SPConfirmation {
    color: #2784a7;
    font-weight: 600;
}

.task-status-AllocateTechnician {
    color: #2784a7;
    font-weight: 600;
}

.task-status-TechnicianConfirmation {
    color: #2784a7;
    font-weight: 600;
}
.nounderline{
    text-decoration:none;
}
/*Home page Panel */







.wirelessProductH1GroupHeading {
    color: #868f91;
    text-align: left;
    width: 100%;
    font-size: 25px;
    margin-left: 10%;
}

.voiceProductH1GroupHeading {
    margin-left: 10%;
    margin-top: 20px;
    color: #868f91;
    text-align: center;
    width: 100%;
    font-size: 25px;
}


.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
    height: 25px;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}


.radiodiv {
    clear: both;
    margin-top: -45px;
    margin-right: 15px;
}

.radiolabel {
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    color: #777777;
}

/* hide input */
input.radio:empty {
    margin-left: -1999px;
    display: block;
}

    /* style label */
    input.radio:empty ~ .radiolabel {
        position: relative;
        float: left;
        line-height: 2.0em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        input.radio:empty ~ .radiolabel:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.0em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

/* toggle hover */
input.radio:hover:not(:checked) ~ .radiolabel:before {
    content: '\2714';
    text-indent: .6em;
    color: #6a6a6a;
}

input.radio:hover:not(:checked) ~ .radiolabel {
    color: #888;
}

/* toggle on */
input.radio:checked ~ .radiolabel:before {
    content: '\2714';
    text-indent: .6em;
    color: #ffffff;
    background-color: #1f486d;
}

input.radio:checked ~ .radiolabel {
    color: #777;
}

/* radio focus */
input.radio:focus ~ .radiolabel:before {
    /*box-shadow: 0 0 0 3px #999;*/
}

.norecord {
    width: 450px;
    height: 300px;
    line-height: 250px;
    text-align: center;
    color: #999;
}


.st-selected td {
    background-color: #357EBD;
    color: #FFFFFF;
}

.fa-phone:hover:before {
    content: "\f1eb";
}

/*DatePickerinhomepage*/

.btn-dashboard-daterange {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
    float: right !important;
    padding: 6px 12px;
}

.dateranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }



/*-------------ribbon start-------------*/

.ribbon {
    font-weight: 300;
    font-size: 19.5px;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    width: 80%;
    height: 20px%;
    position: relative;
    background: #00afff;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

    .ribbon:before, .ribbon:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -1em;
        border: 1.5em solid #2b95c3;
    }

    .ribbon:before {
        left: -2em;
        border-right-width: 0.54em;
        border-left-color: transparent;
    }

    .ribbon:after {
        right: -2em;
        border-left-width: 0.6em;
        border-right-color: transparent;
    }

    .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: #72caf3 transparent transparent transparent;
        bottom: -1em;
        background-color: #2b95c3;
    }

    .ribbon .ribbon-content:before {
        left: 0;
        border-width: 1em 0 0 1em;
    }

    .ribbon .ribbon-content:after {
        right: 0;
        border-width: 1em 1em 0 0;
    }

b, strong {
    font-weight: 300;
}

.invalid {
    border-color: red !important;
    border-width: 1px !important;
}

/*-------------ribbon end-------------*/
.k-list {
    height: 200px !important;
}
/*----home page filter start------------*/



.homebtn {
    border: 1px solid #2196f3  !important;
    border-radius: 21px !important;
    text-align: center !important;
    color: white;
    min-width: 160px;
     width:auto;
    margin-top:14% !important;
    background-color: #2196f3;
}

.homebtn:hover,homebtn:focus  {
        color: white !important;
        text-decoration: none !important;
    }

.home-li-btn {
    text-decoration: none !important;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    color: white;
}

.li-btn {
    text-decoration: none !important;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    color: black;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.li-btn:hover,li-btn:focus {
        text-decoration: none !important;
        background-color: #f6f6f6;
       
}

.home-li-btn:hover,home-li-btn:focus {
    text-decoration: none !important;
    border-radius: 21px !important;
      color: white !important;
}

.home-dropdown {
    right: 0;
    left: auto;
    margin-top: 13px;
}

.home-dropdown:before {
        border-left: none;
        border-right: none;
        position: absolute;
        top: -8px;
        right: 19px;
        border-right: 8px solid rgba(0, 0, 0, 0.01);
        border-bottom: 8px solid #d5f2ff;
        border-left: 8px solid rgba(0, 0, 0, 0);
        content: '';
    }



/*----home page filter end------------*/

/*----animation user register start------------*/
    .cssload-box-loading {
	width: 49px;
	height: 49px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.cssload-box-loading:before {
	content: '';
	width: 49px;
	height: 5px;
	background: rgb(0,0,0);
	opacity: 0.1;
	position: absolute;
	top: 58px;
	left: 0;
	border-radius: 50%;
	animation: shadow 0.45s linear infinite;
		-o-animation: shadow 0.45s linear infinite;
		-ms-animation: shadow 0.45s linear infinite;
		-webkit-animation: shadow 0.45s linear infinite;
		-moz-animation: shadow 0.45s linear infinite;
}
.cssload-box-loading:after {
	content: '';
	width: 49px;
	height: 49px;
	background: #4db363;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
	animation: cssload-animate 0.45s linear infinite;
		-o-animation: cssload-animate 0.45s linear infinite;
		-ms-animation: cssload-animate 0.45s linear infinite;
		-webkit-animation: cssload-animate 0.45s linear infinite;
		-moz-animation: cssload-animate 0.45s linear infinite;
}



@keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@-o-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-o-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-o-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-o-transform: translateY(0) rotate(90deg);
	}
}

@-ms-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-ms-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-ms-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-ms-transform: translateY(0) rotate(90deg);
	}
}

@-webkit-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-webkit-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-webkit-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(90deg);
	}
}

@-moz-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-moz-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-moz-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-moz-transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}

@-o-keyframes shadow {
	0%,
	100% {
		-o-transform: scale(1, 1);
	}
	50% {
		-o-transform: scale(1.2, 1);
	}
}

@-ms-keyframes shadow {
	0%,
	100% {
		-ms-transform: scale(1, 1);
	}
	50% {
		-ms-transform: scale(1.2, 1);
	}
}

@-webkit-keyframes shadow {
	0%,
	100% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.2, 1);
	}
}

@-moz-keyframes shadow {
	0%,
	100% {
		-moz-transform: scale(1, 1);
	}
	50% {
		-moz-transform: scale(1.2, 1);
	}
}
.center {

    margin: auto;
    width: 100%;
   
   padding:18% 21% 0% 34%;
}
/*----animation user register end------------*/
/*profile details style start*/
    .profile-userpic img {
        float: none;
        margin-left: 24%;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .img-responsive {
        display: block;
        height: auto;
    }

    .img-responsive, .img-thumbnail, .table, label {
        max-width: 100%;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .profile-usermenu {
        margin-top: 30px;
        padding-bottom: 20px;
    }
/*profile details style end*/



