﻿<section>
    <div class="bs-callout bs-callout-warning">
        <div class="alert alert-warning">
            <p>
                <h4><i class="fa fa-exclamation-triangle"></i> Access denied</h4>
            </p>
        </div>
    </div>
</section>
