﻿<section>
    <div class="bs-callout bs-callout-warning">
        <div class="alert alert-warning">
            <p>
                <h4><i class="fa fa-exclamation-triangle"></i> Insufficient Permission</h4>
            </p>
            <!--<p>Sorry, you have not been given access to <b>{{vm.screenName}}</b></p>
            <p>Please contact your companies administrator.</p>-->
        </div>
    </div>
</section>
