﻿<div class="container">
    <br />
    <div class="row" style="overflow:auto;">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-2 form-group">
                <a href="" ui-sref="dashboard.link" class="btn btn-primary btn-default btn-group-sm">Back</a>

            </div>
            <div class="col-md-6 col-sm-3 form-group">
                <button class="btn btn-primary" ng-click="vm.refresh()">
                    Refresh
                </button>
            </div>
            <div class="col-md-4 col-sm-5 form-group">
                <input type="text" placeholder="Search..." ng-model="vm.searchText" class="form-control" />
            </div>
            <div class="col-md-1 col-sm-1 form-group" ng-click="vm.search()">
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="row" style="overflow-y: hidden;overflow-x: auto;">
        <table st-table="displayedCollection" id="exportable" st-safe-src="vm.notificationList" st-set-filter="filter" class="table table-bordered table-striped table-hover table-condensed">
            <thead class="bg-primary" style="font-weight: bold;">
                <tr class="white-color">
                    <td>Mobile or Email</td>
                    <td>Notification Type</td>
                    <td>Message Status Type</td>
                    <td>Subject</td>
                    <td>Message</td>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="application" ng-repeat="application in displayedCollection track by $index">
                    <td ng-bind="application.Recipient"></td>
                    <td ng-bind="application.NotificationType"></td>
                    <td ng-bind="application.MessageStatusType"></td>
                    <td ng-bind="application.Subject"></td>
                    <td ng-bind="application.Message"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <span st-template="/pagination.custom.html" st-pagination="" st-items-by-page="5"></span>
                    </td>
                </tr>

            </tfoot>
        </table>
        <div class="text-center col-md-12" ng-show="vm.notificationList == undefined  || vm.notificationList.length == 0" style="color: #999; font-size:-webkit-xxx-large;">
            No Records
        </div>
    </div>
</div>